{ns hl7-fhir-r5-core.value-set.administrable-dose-form,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Dose form for a medication, in the form suitable for administering to the patient, after mixing, where necessary.",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/administrable-dose-form",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/administrable-dose-form",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
