{ns hl7-fhir-r5-core.value-set.allergyintolerance-code,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes concept codes for specific substances/pharmaceutical products, allergy or intolerance conditions, and negation/exclusion codes to specify the absence of specific types of allergies or intolerances.",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/allergyintolerance-code",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
