{ns hl7-fhir-r5-core.value-set.allergen-class,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set represents codes for food nutrients and is provided as a suggestive example.  It include codes from [SNOMED CT](http://snomed.info/sct) where concept has a parent of 406455002 Allergen class (substance).",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/allergen-class",
            :version "5.0.0"}}
