{ns hl7-fhir-r5-core.value-set.artifactassessment-workflow-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Possible values for the workflow status of the comment or assessment, typically used to coordinate workflow around the process of accepting and rejecting changes and comments on the artifact.",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/artifactassessment-workflow-status",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/artifactassessment-workflow-status",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
