{ns hl7-fhir-r5-core.value-set.audit-event-outcome-detail,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Indicates more detailed reason for outcome.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/operation-outcome",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/audit-event-outcome-detail",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
