{ns hl7-fhir-r5-core.value-set.biologicallyderived-productcodes,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set enumerates ISBT 128 Product Description Codes© published by ICCBBA as a part of the ISBT 128 standard. These codes support characterization and classification of medical products of human origin inclusive of processing conditions such as additives, volumes and handling conditions.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/biologicallyderived-productcodes",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/biologicallyderived-productcodes",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
