{ns hl7-fhir-r5-core.value-set.bodystructure-bodylandmarkorientation-clockface-position,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Select SNOMED CT codes. A set of codes that describe a things orientation based on a hourly positions of a clock face.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/bodystructure-bodylandmarkorientation-clockface-position",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
