{ns hl7-fhir-r5-core.value-set.communication-request-status-reason,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Example codes indicating the reason why a CommunicationRequest is on hold or revoked. Note that these are in no way complete and might not even be appropriate for some uses.",
            :zen.fhir/version "0.6.30-1",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/communication-request-status-reason",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
