{ns hl7-fhir-r5-core.value-set.condition-questionnaire-purpose,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The use of a questionnaire.",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/condition-questionnaire-purpose",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/condition-questionnaire-purpose",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
