{ns hl7-fhir-r5-core.value-set.contributor-summary-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Used to code author list statement, contributorship statement, and such.",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/contributor-summary-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/contributor-summary-type",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
