{ns hl7-fhir-r5-core.value-set.country,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set defines a base set of codes for countries.   \r\n   \r\n   Note: The codes for countries are taken from    [ISO 3166](https://www.iso.org/iso-3166-country-codes.html).",
            :zen.fhir/version "0.6.27",
            :fhir/code-systems #{{:fhir/url "urn:iso:std:iso:3166",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/country",
            :version "5.0.0"}}
