{ns hl7-fhir-r5-core.value-set.endpoint-payload-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This is an example value set defined by the FHIR project, that could be used to represent possible payload document types.",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/endpoint-payload-type",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-HL7DocumentFormatCodes",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://ihe.net/fhir/ihe.formatcode.fhir/CodeSystem/formatcode",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/endpoint-payload-type",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
