{ns hl7-fhir-r5-core.value-set.examplescenario-instance-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Types of resource structures that can be passed in or out of exchange operations.  Not necessarily FHIR.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0354",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/fhir-types",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/examplescenario-instance-type",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
