{ns hl7-fhir-r5-core.value-set.iana-link-relations,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Link Relation Types defined at https://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/CodeSystem/iana-link-relations",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/iana-link-relations",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
