{ns hl7-fhir-r5-core.value-set.imagingselection-2dgraphictype,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The type of 2D coordinates describing a 2D image region.",
            :zen.fhir/version "0.6.25-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/imagingselection-2dgraphictype",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/imagingselection-2dgraphictype",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
