{ns hl7-fhir-r5-core.value-set.ingredient-manufacturer-role,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The way in which this manufacturer is associated with the ingredient. For example whether it is a possible one (others allowed), or an exclusive authorized one for this ingredient. Note that this is not the manufacturing process role.",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/ingredient-manufacturer-role",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/ingredient-manufacturer-role",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
