{ns hl7-fhir-r5-core.value-set.languages,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes common codes from BCP-47 (see http://tools.ietf.org/html/bcp47)",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "urn:ietf:bcp:47",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/languages",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
