{ns hl7-fhir-r5-core.value-set.legal-status-of-supply,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The prescription supply types appropriate to a medicinal product",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/legal-status-of-supply",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/legal-status-of-supply",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
