{ns hl7-fhir-r5-core.value-set.measurement-property,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set represents codes for properties that can be measured and is provided as a suggestive example.  It include codes from [SNOMED CT](http://snomed.info/sct) where concept has a parent of 118598001 Property of measurement (qualifier value).",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/measurement-property",
            :version "5.0.0"}}
