{ns hl7-fhir-r5-core.value-set.measure-definition-example,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Example Measure Definitions for the Measure Resource.",
            :zen.fhir/version "0.6.30",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/measure-definition-example",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/measure-definition-example",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
