{ns hl7-fhir-r5-core.value-set.medication-ingredientstrength,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Medication Ingredient Strength Codes",
            :zen.fhir/version "0.6.23",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/CodeSystem/medication-ingredientstrength",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/medication-ingredientstrength",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
