{ns hl7-fhir-r5-core.value-set.medication-intended-performer-role,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Medication Intended Performer Role",
            :zen.fhir/version "0.6.29",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/CodeSystem/medication-intended-performer-role",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/medication-intended-performer-role",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
