{ns hl7-fhir-r5-core.value-set.medicinal-product-special-measures,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Extra measures defined for a Medicinal Product, such as a requirement to conduct post-authorization studies.",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/medicinal-product-special-measures",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/medicinal-product-special-measures",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
