{ns hl7-fhir-r5-core.value-set.operation-parameter-scope,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Indicates that a parameter applies when the operation is being invoked at the specified level",
            :zen.fhir/version "0.6.27",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/operation-parameter-scope",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/operation-parameter-scope",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
