{ns hl7-fhir-r5-core.value-set.participation-role-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This FHIR value set is comprised of Actor participation Type codes, which can be used to value FHIR agents, actors, and other role elements. The codes are intended to express how the agent participated in some activity. Sometimes refered to the agent functional-role relative to the activity.",
            :zen.fhir/version "0.6.23-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/provenance-participant-type",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://dicom.nema.org/resources/ontology/DCM",
                                  :zen.fhir/content :not-present}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/extra-security-role-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/participation-role-type",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
