{ns hl7-fhir-r5-core.value-set.referenced-item-category,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This is the code specifying the high-level kind of document (e.g. Prescription, Discharge Summary, Report, etc.). Made up of a set of non-healthcare specific codes and all LOINC codes where scale type = 'DOC'.",
            :zen.fhir/version "0.6.30-1",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :not-present}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/media-category",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/referenced-item-category",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
