{ns hl7-fhir-r5-core.value-set.research-study-party-role,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This is a ResearchStudy's party role.",
            :zen.fhir/version "0.6.27",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/research-study-party-role",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/research-study-party-role",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
