{ns hl7-fhir-r5-core.value-set.security-role-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set contains example structural roles. In general, two types of roles can be distinguished: structural roles and functional roles. Structural Roles reflect human or organizational categories (hierarchies), and describe prerequisites, feasibilities, or competences for actions. Functional roles are bound to the realization or performance of actions.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "sample-security-structural-roles",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/security-role-type",
            :version "5.0.0"}}
