{ns hl7-fhir-r5-core.value-set.study-design,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This is a set of terms for study design characteristics.",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/study-design",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/study-design",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
