{ns hl7-fhir-r5-core.value-set.substance-name-domain,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The use context of a substance name for example if there is a different name when used as a drug active ingredient as opposed to a food colour additive.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/substance-name-domain",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/substance-name-domain",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
