{ns hl7-fhir-r5-core.value-set.substance-source-material-genus,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The genus of an organism, typically referring to the Latin epithet of the genus element of the plant/animal scientific name.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/substance-source-material-genus",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/substance-source-material-genus",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
