{ns hl7-fhir-r5-core.value-set.substance-weight-method,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The method by which the substance weight was measured.",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/substance-weight-method",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/substance-weight-method",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
