{ns hl7-fhir-r5-core.value-set.usage-context-agreement-scope,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes for use in UsageContext.valueCodeableConcept when UsageContext.code is agreement-scope",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/CodeSystem/usage-context-agreement-scope",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/usage-context-agreement-scope",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
