{ns hl7-fhir-r5-core.value-set.week-of-month,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The set of weeks in a month.",
            :zen.fhir/version "0.6.30-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/week-of-month",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/week-of-month",
            :version "5.0.0",
            :ftr {:module "hl7-fhir-r5-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
