{ns hl7-fhir-r5-core.Age,
 import #{zen.fhir
          hl7-fhir-r5-core.Quantity
          hl7-fhir-r5-core.value-set.age-units},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Age Type: A duration of time during which an organism (or a process) has existed.",
         :zen.fhir/type "Age",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Age",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r5-core.Quantity/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.age-units/value-set,
                              :strength :extensible}}}
