{ns hl7-fhir-r5-core.Availability,
 import #{hl7-fhir-r5-core.boolean
          zen.fhir
          hl7-fhir-r5-core.value-set.days-of-week
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.time
          hl7-fhir-r5-core.code
          hl7-fhir-r5-core.Period
          hl7-fhir-r5-core.DataType},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Availability Type: Availability data for an {item}.",
         :zen.fhir/type "Availability",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Availability",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.DataType/schema},
         :type zen/map,
         :keys {:availableTime {:type zen/vector,
                                :every {:confirms #{hl7-fhir-r5-core.Element/schema},
                                        :type zen/map,
                                        :keys {:daysOfWeek {:type zen/vector,
                                                            :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                    :fhir/flags #{:SU},
                                                                    :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.days-of-week/value-set,
                                                                                         :strength :required},
                                                                    :zen/desc "mon | tue | wed | thu | fri | sat | sun"}},
                                               :_daysOfWeek {:type zen/vector,
                                                             :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                               :allDay {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                                        :fhir/flags #{:SU},
                                                        :zen/desc "Always available? i.e. 24 hour service"},
                                               :_allDay {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                               :availableStartTime {:confirms #{hl7-fhir-r5-core.time/schema},
                                                                    :fhir/flags #{:SU},
                                                                    :zen/desc "Opening time of day (ignored if allDay = true)"},
                                               :_availableStartTime {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                               :availableEndTime {:confirms #{hl7-fhir-r5-core.time/schema},
                                                                  :fhir/flags #{:SU},
                                                                  :zen/desc "Closing time of day (ignored if allDay = true)"},
                                               :_availableEndTime {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                        :fhir/flags #{:SU},
                                        :zen/desc "Times the {item} is available"}},
                :notAvailableTime {:type zen/vector,
                                   :every {:confirms #{hl7-fhir-r5-core.Element/schema},
                                           :type zen/map,
                                           :keys {:description {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                :fhir/flags #{:SU},
                                                                :zen/desc "Reason presented to the user explaining why time not available"},
                                                  :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                  :during {:confirms #{hl7-fhir-r5-core.Period/schema},
                                                           :fhir/flags #{:SU},
                                                           :zen/desc "Service not available during this period"}},
                                           :fhir/flags #{:SU},
                                           :zen/desc "Not available during this time due to provided reason"}}}}}
