{ns hl7-fhir-r5-core.BackboneElement,
 import #{zen.fhir
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.Extension},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "BackboneElement Type: Base definition for all elements that are defined inside a resource - but not those in a data type.",
         :zen.fhir/type "BackboneElement",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/BackboneElement",
         :zen.fhir/version "0.6.22-1",
         :confirms #{hl7-fhir-r5-core.Element/schema},
         :type zen/map,
         :keys {:modifierExtension {:type zen/vector,
                                    :every {:confirms #{hl7-fhir-r5-core.Extension/schema},
                                            :fhir/flags #{:SU :?!},
                                            :zen/desc "Extensions that cannot be ignored even if unrecognized"}}}}}
