{ns hl7-fhir-r5-core.CodeableReference,
 import #{zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.Reference
          hl7-fhir-r5-core.DataType},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "CodeableReference Type: A reference to a resource (by instance), or instead, a reference to a concept defined in a terminology or ontology (by class).",
         :zen.fhir/type "CodeableReference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/CodeableReference",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r5-core.DataType/schema},
         :type zen/map,
         :keys {:concept {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                          :fhir/flags #{:SU},
                          :zen/desc "Reference to a concept (by class)"},
                :reference {:confirms #{hl7-fhir-r5-core.Reference/schema
                                        zen.fhir/Reference},
                            :fhir/flags #{:SU},
                            :zen.fhir/reference {:refers #{}},
                            :zen/desc "Reference to a resource (by instance)"}}}}
