{ns hl7-fhir-r5-core.computablevalueset,
 import #{hl7-fhir-uv-extensions-r5.valueset-rules-text
          zen.fhir
          hl7-fhir-uv-extensions-r5.valueset-supplement
          hl7-fhir-r5-core.shareablevalueset
          hl7-fhir-r5-core.computablevalueset
          hl7-fhir-uv-extensions-r5.valueset-expression},
 compose-include-schema {:zen/tags #{zen/schema
                                     zen.fhir/structure-schema},
                         :zen.fhir/version "0.6.29",
                         :type zen/map,
                         :keys {:system {:fhir/flags #{:MS}},
                                :version {:fhir/flags #{:MS}},
                                :concept {:type zen/vector,
                                          :every {:fhir/flags #{:MS}}},
                                :filter {:type zen/vector,
                                         :every {:type zen/map,
                                                 :keys {:property {:fhir/flags #{:MS}},
                                                        :op {:fhir/flags #{:MS}},
                                                        :value {:fhir/flags #{:MS}}},
                                                 :require #{:property
                                                            :value
                                                            :op},
                                                 :fhir/flags #{:MS}}},
                                :valueSet {:type zen/vector,
                                           :every {:fhir/flags #{:MS}}}},
                         :fhir/flags #{:MS}},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Defines a computable value set as one that SHALL have an expression-based definition (i.e. a value set defined intensionally using expressions of the code systems involved) and MAY have an expansion included. The expression-based definition SHALL be represented in only one of three ways; using the compose element, using the expression extension, or using the rules-text extension to provide a step-by-step process for expanding the value set definition",
         :zen.fhir/type "ValueSet",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/computablevalueset",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.shareablevalueset/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:rulesText {:confirms #{hl7-fhir-uv-extensions-r5.valueset-rules-text/schema},
                            :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/valueset-rules-text",
                            :fhir/flags #{:MS},
                            :zen/desc "Human instructions for constructing the valueset"},
                :expression {:confirms #{hl7-fhir-uv-extensions-r5.valueset-expression/schema},
                             :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/valueset-expression",
                             :fhir/flags #{:MS},
                             :zen/desc "Machine instructions for constructing the value set"},
                :supplement {:confirms #{hl7-fhir-uv-extensions-r5.valueset-supplement/schema},
                             :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/valueset-supplement",
                             :fhir/flags #{:MS}},
                :immutable {:fhir/flags #{:MS}},
                :compose {:type zen/map,
                          :keys {:lockedDate {:fhir/flags #{:MS}},
                                 :inactive {:fhir/flags #{:MS}},
                                 :include {:type zen/vector,
                                           :every {:confirms #{hl7-fhir-r5-core.computablevalueset/compose-include-schema}}},
                                 :exclude {:type zen/vector,
                                           :every {:fhir/flags #{:MS}}}},
                          :fhir/flags #{:MS}}}}}
