{ns hl7-fhir-r5-core.computableplandefinition,
 import #{hl7-fhir-r5-core.PlanDefinition zen.fhir},
 schema {:zen.fhir/version "0.6.31",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r5-core.PlanDefinition/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/computableplandefinition",
         :require #{:library},
         :type zen/map,
         :zen/desc "Defines a computable PlanDefinition that specifies a single library and requires all expressions referenced from the PlanDefinition to be definitions in that single library",
         :keys {:library {:type zen/vector, :minItems 1, :maxItems 1}},
         :zen.fhir/type "PlanDefinition"}}
