{ns hl7-fhir-r5-core.DataType,
 import #{zen.fhir hl7-fhir-r5-core.Element},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "DataType Type: The base class for all re-useable types defined as part of the FHIR Specification.",
         :zen.fhir/type "DataType",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/DataType",
         :zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r5-core.Element/schema}}}
