{ns hl7-fhir-r5-core.Duration,
 import #{zen.fhir
          hl7-fhir-r5-core.Quantity
          hl7-fhir-r5-core.value-set.duration-units},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Duration Type: A length of time.",
         :zen.fhir/type "Duration",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Duration",
         :zen.fhir/version "0.6.23-1",
         :confirms #{hl7-fhir-r5-core.Quantity/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.duration-units/value-set,
                              :strength :extensible}}}
