{ns hl7-fhir-r5-core.example-section-library,
 import #{zen.fhir
          hl7-fhir-r5-core.example-section-library
          hl7-fhir-r5-core.Composition},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Document Section Library (For testing section templates)",
         :zen.fhir/type "Composition",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/example-section-library",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.Composition/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:section {:type zen/vector,
                          :slicing {:slices {"procedure" {:schema {:type zen/vector,
                                                                   :every {:type zen/map,
                                                                           :keys {:title {:const {:value "Procedures Performed"}},
                                                                                  :code {:match {:coding #{{:code "29554-3",
                                                                                                            :display "Procedure Narrative",
                                                                                                            :system "http://loinc.org"}}}}},
                                                                           :require #{:title
                                                                                      :code}}},
                                                          :filter {:engine :match,
                                                                   :match {:code {:coding #{{:code "29554-3",
                                                                                             :display "Procedure Narrative",
                                                                                             :system "http://loinc.org"}}}}}},
                                             "medications" {:schema {:type zen/vector,
                                                                     :every {:type zen/map,
                                                                             :keys {:title {:const {:value "Medications Administered"}},
                                                                                    :code {:match {:coding #{{:code "29549-3",
                                                                                                              :display "Medication administered Narrative",
                                                                                                              :system "http://loinc.org"}}}}},
                                                                             :require #{:title
                                                                                        :code}}},
                                                            :filter {:engine :match,
                                                                     :match {:code {:coding #{{:code "29549-3",
                                                                                               :display "Medication administered Narrative",
                                                                                               :system "http://loinc.org"}}}}}},
                                             "plan" {:schema {:type zen/vector,
                                                              :every {:type zen/map,
                                                                      :keys {:title {:const {:value "Discharge Treatment Plan"}},
                                                                             :code {:match {:coding #{{:code "18776-5",
                                                                                                       :display "Plan of treatment (narrative)",
                                                                                                       :system "http://loinc.org"}}}}},
                                                                      :require #{:title
                                                                                 :code}}},
                                                     :filter {:engine :match,
                                                              :match {:code {:coding #{{:code "18776-5",
                                                                                        :display "Plan of treatment (narrative)",
                                                                                        :system "http://loinc.org"}}}}}}}},
                          :every {:confirms #{hl7-fhir-r5-core.example-section-library/section-schema}}}}},
 section-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
                 :zen.fhir/version "0.6.29",
                 :type zen/map,
                 :keys {:section {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-r5-core.example-section-library/section-schema}}}}}}
