{ns hl7-fhir-r5-core.ExampleScenario,
 import #{hl7-fhir-r5-core.DomainResource
          hl7-fhir-r5-core.markdown
          hl7-fhir-r5-core.BackboneElement
          hl7-fhir-r5-core.boolean
          hl7-fhir-r5-core.value-set.examplescenario-instance-type
          zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.UsageContext
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.value-set.version-algorithm
          hl7-fhir-r5-core.value-set.jurisdiction
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.value-set.examplescenario-actor-type
          hl7-fhir-r5-core.dateTime
          hl7-fhir-r5-core.ExampleScenario
          hl7-fhir-r5-core.Reference
          hl7-fhir-r5-core.code
          hl7-fhir-r5-core.Identifier
          hl7-fhir-r5-core.value-set.publication-status
          hl7-fhir-r5-core.canonical
          hl7-fhir-r5-core.Coding
          hl7-fhir-r5-core.value-set.testscript-operation-codes
          hl7-fhir-r5-core.uri
          hl7-fhir-r5-core.ContactDetail},
 instance-containedInstance-schema {:zen/tags #{zen/schema
                                                zen.fhir/structure-schema},
                                    :zen.fhir/version "0.6.23",
                                    :confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                    :type zen/map,
                                    :keys {:instanceReference {:confirms #{hl7-fhir-r5-core.string/schema},
                                                               :zen/desc "Key of contained instance"},
                                           :_instanceReference {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                           :versionReference {:confirms #{hl7-fhir-r5-core.string/schema},
                                                              :zen/desc "Key of contained instance version"},
                                           :_versionReference {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                    :require #{:instanceReference},
                                    :zen/desc "Resources contained in the instance"},
 process-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
                 :zen.fhir/version "0.6.23",
                 :confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                 :type zen/map,
                 :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                      :zen/desc "Human-friendly description of the process"},
                        :_postConditions {:confirms #{hl7-fhir-r5-core.Element/schema}},
                        :postConditions {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                         :zen/desc "Status after successful completion"},
                        :preConditions {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                        :zen/desc "Status before process starts"},
                        :_preConditions {:confirms #{hl7-fhir-r5-core.Element/schema}},
                        :title {:confirms #{hl7-fhir-r5-core.string/schema},
                                :fhir/flags #{:SU},
                                :zen/desc "Label for procss"},
                        :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                        :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                        :step {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.ExampleScenario/process-step-schema}}}},
                 :require #{:title},
                 :zen/desc "Major process within scenario"},
 process-step-schema {:zen/tags #{zen/schema
                                  zen.fhir/structure-schema},
                      :zen.fhir/version "0.6.23",
                      :confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                      :type zen/map,
                      :keys {:_pause {:confirms #{hl7-fhir-r5-core.Element/schema}},
                             :alternative {:type zen/vector,
                                           :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                   :type zen/map,
                                                   :keys {:title {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                  :zen/desc "Label for alternative"},
                                                          :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                          :description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                                        :zen/desc "Human-readable description of option"},
                                                          :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                          :step {:type zen/vector,
                                                                 :every {:confirms #{hl7-fhir-r5-core.ExampleScenario/process-step-schema},
                                                                         :zen/desc "Alternative action(s)"}}},
                                                   :require #{:title},
                                                   :zen/desc "Alternate non-typical step action"}},
                             :number {:confirms #{hl7-fhir-r5-core.string/schema},
                                      :zen/desc "Sequential number of the step"},
                             :operation {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                         :type zen/map,
                                         :keys {:response {:confirms #{hl7-fhir-r5-core.ExampleScenario/instance-containedInstance-schema},
                                                           :zen/desc "Instance transmitted on invocation response"},
                                                :description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                              :zen/desc "Human-friendly description of the operation"},
                                                :request {:confirms #{hl7-fhir-r5-core.ExampleScenario/instance-containedInstance-schema},
                                                          :zen/desc "Instance transmitted on invocation"},
                                                :initiator {:confirms #{hl7-fhir-r5-core.string/schema},
                                                            :zen/desc "Who starts the operation"},
                                                :_initiatorActive {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :type {:confirms #{hl7-fhir-r5-core.Coding/schema},
                                                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.testscript-operation-codes/value-set,
                                                                            :strength :extensible},
                                                       :zen/desc "Kind of action"},
                                                :receiverActive {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                                                 :zen/desc "Receiver stays active?"},
                                                :title {:confirms #{hl7-fhir-r5-core.string/schema},
                                                        :zen/desc "Label for step"},
                                                :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :initiatorActive {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                                                  :zen/desc "Initiator stays active?"},
                                                :_initiator {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :_receiver {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :_receiverActive {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :receiver {:confirms #{hl7-fhir-r5-core.string/schema},
                                                           :zen/desc "Who receives the operation"}},
                                         :require #{:title},
                                         :zen/desc "Step is simple action"},
                             :process {:confirms #{hl7-fhir-r5-core.ExampleScenario/process-schema},
                                       :zen/desc "Step is nested process"},
                             :_workflow {:confirms #{hl7-fhir-r5-core.Element/schema}},
                             :_number {:confirms #{hl7-fhir-r5-core.Element/schema}},
                             :workflow {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                        :zen/desc "Step is nested workflow"},
                             :pause {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                     :zen/desc "Pause in the flow?"}},
                      :zen/desc "Event within of the process"},
 schema {:zen.fhir/version "0.6.23",
         :confirms #{hl7-fhir-r5-core.DomainResource/schema
                     zen.fhir/Resource},
         :zen/tags #{zen/schema zen.fhir/base-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/ExampleScenario",
         :require #{:status},
         :type zen/map,
         :zen/desc "A walkthrough of a workflow showing the interaction between systems and the instances shared, possibly including the evolution of instances over time.",
         :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                              :fhir/flags #{:SU},
                              :zen/desc "Natural language description of the ExampleScenario"},
                :date {:confirms #{hl7-fhir-r5-core.dateTime/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Date last changed"},
                :publisher {:confirms #{hl7-fhir-r5-core.string/schema},
                            :fhir/flags #{:SU},
                            :zen/desc "Name of the publisher/steward (organization or individual)"},
                :instance {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                   :type zen/map,
                                   :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                        :zen/desc "Human-friendly description of the instance"},
                                          :key {:confirms #{hl7-fhir-r5-core.string/schema},
                                                :zen/desc "ID or acronym of the instance"},
                                          :containedInstance {:type zen/vector,
                                                              :every {:confirms #{hl7-fhir-r5-core.ExampleScenario/instance-containedInstance-schema}}},
                                          :content {:confirms #{hl7-fhir-r5-core.Reference/schema
                                                                zen.fhir/Reference},
                                                    :zen.fhir/reference {:refers #{}},
                                                    :zen/desc "Example instance data"},
                                          :structureType {:confirms #{hl7-fhir-r5-core.Coding/schema},
                                                          :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.examplescenario-instance-type/value-set,
                                                                               :strength :extensible},
                                                          :zen/desc "Data structure for example"},
                                          :title {:confirms #{hl7-fhir-r5-core.string/schema},
                                                  :zen/desc "Label for instance"},
                                          :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :structureVersion {:confirms #{hl7-fhir-r5-core.string/schema},
                                                             :zen/desc "E.g. 4.0.1"},
                                          :_structureVersion {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :structureProfile {:fhir/polymorphic true,
                                                             :type zen/map,
                                                             :exclusive-keys #{#{:canonical
                                                                                 :uri}},
                                                             :keys {:canonical {:confirms #{hl7-fhir-r5-core.canonical/schema}},
                                                                    :_canonical {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                    :uri {:confirms #{hl7-fhir-r5-core.uri/schema}},
                                                                    :_uri {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                             :zen/desc "Rules instance adheres to"},
                                          :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :version {:type zen/vector,
                                                    :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                            :type zen/map,
                                                            :keys {:key {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                         :zen/desc "ID or acronym of the version"},
                                                                   :_key {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                   :title {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                           :zen/desc "Label for instance version"},
                                                                   :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                   :description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                                                 :zen/desc "Details about version"},
                                                                   :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                   :content {:confirms #{hl7-fhir-r5-core.Reference/schema
                                                                                         zen.fhir/Reference},
                                                                             :zen.fhir/reference {:refers #{}},
                                                                             :zen/desc "Example instance version data"}},
                                                            :require #{:key
                                                                       :title},
                                                            :zen/desc "Snapshot of instance that changes"}},
                                          :_key {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                   :require #{:key
                                              :structureType
                                              :title},
                                   :zen/desc "Data used in the scenario"}},
                :jurisdiction {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.jurisdiction/value-set,
                                                            :strength :extensible},
                                       :zen/desc "Intended jurisdiction for example scenario (if applicable)"}},
                :_publisher {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_copyrightLabel {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :purpose {:confirms #{hl7-fhir-r5-core.markdown/schema},
                          :zen/desc "The purpose of the example, e.g. to illustrate a scenario"},
                :_date {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :name {:confirms #{hl7-fhir-r5-core.string/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "To be removed?"},
                :process {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r5-core.ExampleScenario/process-schema}}},
                :_status {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :copyrightLabel {:confirms #{hl7-fhir-r5-core.string/schema},
                                 :zen/desc "Copyright holder and year(s)"},
                :_experimental {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :useContext {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.UsageContext/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "The context that the content is intended to support"}},
                :copyright {:confirms #{hl7-fhir-r5-core.markdown/schema},
                            :zen/desc "Use and/or publishing restrictions"},
                :versionAlgorithm {:fhir/polymorphic true,
                                   :type zen/map,
                                   :exclusive-keys #{#{:string
                                                       :Coding}},
                                   :keys {:string {:confirms #{hl7-fhir-r5-core.string/schema}},
                                          :_string {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :Coding {:confirms #{hl7-fhir-r5-core.Coding/schema}}},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.version-algorithm/value-set,
                                                        :strength :extensible},
                                   :zen/desc "How to compare versions"},
                :experimental {:confirms #{hl7-fhir-r5-core.boolean/schema},
                               :fhir/flags #{:SU},
                               :zen/desc "For testing purposes, not real usage"},
                :title {:confirms #{hl7-fhir-r5-core.string/schema},
                        :fhir/flags #{:SU},
                        :zen/desc "Name for this example scenario (human friendly)"},
                :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_purpose {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :status {:confirms #{hl7-fhir-r5-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.publication-status/value-set,
                                              :strength :required},
                         :zen/desc "draft | active | retired | unknown"},
                :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :url {:confirms #{hl7-fhir-r5-core.uri/schema},
                      :fhir/flags #{:SU},
                      :zen/desc "Canonical identifier for this example scenario, represented as a URI (globally unique)"},
                :identifier {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.Identifier/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Additional identifier for the example scenario"}},
                :_copyright {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :version {:confirms #{hl7-fhir-r5-core.string/schema},
                          :fhir/flags #{:SU},
                          :zen/desc "Business version of the example scenario"},
                :_version {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :contact {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Contact details for the publisher"}},
                :_url {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :actor {:type zen/vector,
                        :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                :type zen/map,
                                :keys {:key {:confirms #{hl7-fhir-r5-core.string/schema},
                                             :zen/desc "ID or acronym of the actor"},
                                       :_key {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                       :type {:confirms #{hl7-fhir-r5-core.code/schema},
                                              :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.examplescenario-actor-type/value-set,
                                                                   :strength :required},
                                              :zen/desc "person | system"},
                                       :_type {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                       :title {:confirms #{hl7-fhir-r5-core.string/schema},
                                               :zen/desc "Label for actor when rendering"},
                                       :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                       :description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                     :zen/desc "Details about actor"},
                                       :_description {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                :require #{:key :type :title},
                                :zen/desc "Individual involved in exchange"}}},
         :zen.fhir/type "ExampleScenario"}}
