{ns hl7-fhir-r5-core.GraphDefinition,
 import #{hl7-fhir-r5-core.DomainResource
          hl7-fhir-r5-core.value-set.version-independent-all-resource-types
          hl7-fhir-r5-core.markdown
          hl7-fhir-r5-core.BackboneElement
          hl7-fhir-r5-core.boolean
          zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.UsageContext
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.value-set.version-algorithm
          hl7-fhir-r5-core.value-set.jurisdiction
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.dateTime
          hl7-fhir-r5-core.value-set.graph-compartment-rule
          hl7-fhir-r5-core.integer
          hl7-fhir-r5-core.code
          hl7-fhir-r5-core.Identifier
          hl7-fhir-r5-core.value-set.publication-status
          hl7-fhir-r5-core.canonical
          hl7-fhir-r5-core.Coding
          hl7-fhir-r5-core.id
          hl7-fhir-r5-core.value-set.graph-compartment-use
          hl7-fhir-r5-core.uri
          hl7-fhir-r5-core.ContactDetail
          hl7-fhir-r5-core.value-set.compartment-type},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r5-core.DomainResource/schema
                     zen.fhir/Resource},
         :zen/tags #{zen/schema zen.fhir/base-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/GraphDefinition",
         :require #{:name :status},
         :type zen/map,
         :zen/desc "A formal computable definition of a graph of resources - that is, a coherent set of resources that form a graph by following references. The Graph Definition resource defines a set and makes rules about the set.",
         :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                              :zen/desc "Natural language description of the graph definition"},
                :date {:confirms #{hl7-fhir-r5-core.dateTime/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Date last changed"},
                :publisher {:confirms #{hl7-fhir-r5-core.string/schema},
                            :fhir/flags #{:SU},
                            :zen/desc "Name of the publisher/steward (organization or individual)"},
                :jurisdiction {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.jurisdiction/value-set,
                                                            :strength :extensible},
                                       :zen/desc "Intended jurisdiction for graph definition (if applicable)"}},
                :_publisher {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_copyrightLabel {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :purpose {:confirms #{hl7-fhir-r5-core.markdown/schema},
                          :zen/desc "Why this graph definition is defined"},
                :_date {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :name {:confirms #{hl7-fhir-r5-core.string/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Name for this graph definition (computer friendly)"},
                :_status {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :copyrightLabel {:confirms #{hl7-fhir-r5-core.string/schema},
                                 :zen/desc "Copyright holder and year(s)"},
                :start {:confirms #{hl7-fhir-r5-core.id/schema},
                        :zen/desc "Starting Node"},
                :_experimental {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :useContext {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.UsageContext/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "The context that the content is intended to support"}},
                :copyright {:confirms #{hl7-fhir-r5-core.markdown/schema},
                            :zen/desc "Use and/or publishing restrictions"},
                :versionAlgorithm {:fhir/polymorphic true,
                                   :type zen/map,
                                   :exclusive-keys #{#{:string
                                                       :Coding}},
                                   :keys {:string {:confirms #{hl7-fhir-r5-core.string/schema}},
                                          :_string {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :Coding {:confirms #{hl7-fhir-r5-core.Coding/schema}}},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.version-algorithm/value-set,
                                                        :strength :extensible},
                                   :zen/desc "How to compare versions"},
                :experimental {:confirms #{hl7-fhir-r5-core.boolean/schema},
                               :fhir/flags #{:SU},
                               :zen/desc "For testing purposes, not real usage"},
                :node {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                               :type zen/map,
                               :keys {:nodeId {:confirms #{hl7-fhir-r5-core.id/schema},
                                               :zen/desc "Internal ID - target for link references"},
                                      :_nodeId {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :description {:confirms #{hl7-fhir-r5-core.string/schema},
                                                    :zen/desc "Why this node is specified"},
                                      :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :type {:confirms #{hl7-fhir-r5-core.code/schema},
                                             :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.version-independent-all-resource-types/value-set,
                                                                  :strength :required},
                                             :zen/desc "Type of resource this link refers to"},
                                      :_type {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :profile {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                :zen/desc "Profile for the target resource"},
                                      :_profile {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                               :require #{:nodeId :type},
                               :zen/desc "Potential target for the link"}},
                :title {:confirms #{hl7-fhir-r5-core.string/schema},
                        :fhir/flags #{:SU},
                        :zen/desc "Name for this graph definition (human friendly)"},
                :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_purpose {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :status {:confirms #{hl7-fhir-r5-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.publication-status/value-set,
                                              :strength :required},
                         :zen/desc "draft | active | retired | unknown"},
                :link {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                               :type zen/map,
                               :keys {:description {:confirms #{hl7-fhir-r5-core.string/schema},
                                                    :zen/desc "Why this link is specified"},
                                      :path {:confirms #{hl7-fhir-r5-core.string/schema},
                                             :zen/desc "Path in the resource that contains the link"},
                                      :min {:confirms #{hl7-fhir-r5-core.integer/schema},
                                            :zen/desc "Minimum occurrences for this link"},
                                      :_params {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :_path {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :_targetId {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :targetId {:confirms #{hl7-fhir-r5-core.id/schema},
                                                 :zen/desc "Target Node for this link"},
                                      :_sliceName {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :params {:confirms #{hl7-fhir-r5-core.string/schema},
                                               :zen/desc "Criteria for reverse lookup"},
                                      :sliceName {:confirms #{hl7-fhir-r5-core.string/schema},
                                                  :zen/desc "Which slice (if profiled)"},
                                      :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :_min {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :max {:confirms #{hl7-fhir-r5-core.string/schema},
                                            :zen/desc "Maximum occurrences for this link"},
                                      :compartment {:type zen/vector,
                                                    :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                            :type zen/map,
                                                            :keys {:description {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                                 :zen/desc "Documentation for FHIRPath expression"},
                                                                   :_code {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                   :expression {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                                :zen/desc "Custom rule, as a FHIRPath expression"},
                                                                   :use {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.graph-compartment-use/value-set,
                                                                                              :strength :required},
                                                                         :zen/desc "where | requires"},
                                                                   :rule {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                          :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.graph-compartment-rule/value-set,
                                                                                               :strength :required},
                                                                          :zen/desc "identical | matching | different | custom"},
                                                                   :_expression {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                   :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                   :code {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                          :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.compartment-type/value-set,
                                                                                               :strength :required},
                                                                          :zen/desc "Patient | Encounter | RelatedPerson | Practitioner | Device | EpisodeOfCare"},
                                                                   :_rule {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                   :_use {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                            :require #{:use
                                                                       :rule
                                                                       :code},
                                                            :zen/desc "Compartment Consistency Rules"}},
                                      :_max {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                      :sourceId {:confirms #{hl7-fhir-r5-core.id/schema},
                                                 :zen/desc "Source Node for this link"},
                                      :_sourceId {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                               :require #{:targetId :sourceId},
                               :zen/desc "Links this graph makes rules about"}},
                :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :url {:confirms #{hl7-fhir-r5-core.uri/schema},
                      :fhir/flags #{:SU},
                      :zen/desc "Canonical identifier for this graph definition, represented as a URI (globally unique)"},
                :identifier {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.Identifier/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Additional identifier for the GraphDefinition (business identifier)"}},
                :_copyright {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :version {:confirms #{hl7-fhir-r5-core.string/schema},
                          :fhir/flags #{:SU},
                          :zen/desc "Business version of the graph definition"},
                :_version {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_start {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :contact {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Contact details for the publisher"}},
                :_url {:confirms #{hl7-fhir-r5-core.Element/schema}}},
         :zen.fhir/type "GraphDefinition"}}
