{ns hl7-fhir-r5-core.ImplementationGuide,
 import #{hl7-fhir-r5-core.DomainResource
          hl7-fhir-r5-core.markdown
          hl7-fhir-r5-core.BackboneElement
          hl7-fhir-r5-core.value-set.FHIR-version
          hl7-fhir-r5-core.value-set.guide-page-generation
          hl7-fhir-r5-core.boolean
          zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.value-set.resource-types
          hl7-fhir-r5-core.UsageContext
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.value-set.version-algorithm
          hl7-fhir-r5-core.value-set.jurisdiction
          hl7-fhir-r5-core.url
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.value-set.spdx-license
          hl7-fhir-r5-core.dateTime
          hl7-fhir-r5-core.Reference
          hl7-fhir-r5-core.code
          hl7-fhir-r5-core.Identifier
          hl7-fhir-r5-core.value-set.publication-status
          hl7-fhir-r5-core.canonical
          hl7-fhir-r5-core.Coding
          hl7-fhir-r5-core.id
          hl7-fhir-r5-core.uri
          hl7-fhir-r5-core.ContactDetail
          hl7-fhir-r5-core.ImplementationGuide
          hl7-fhir-r5-core.value-set.guide-parameter-code},
 definition-page-schema {:zen/tags #{zen/schema
                                     zen.fhir/structure-schema},
                         :zen.fhir/version "0.6.27",
                         :confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                         :type zen/map,
                         :keys {:source {:fhir/polymorphic true,
                                         :type zen/map,
                                         :exclusive-keys #{#{:markdown
                                                             :string
                                                             :url}},
                                         :keys {:url {:confirms #{hl7-fhir-r5-core.url/schema}},
                                                :_url {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :string {:confirms #{hl7-fhir-r5-core.string/schema}},
                                                :_string {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                :markdown {:confirms #{hl7-fhir-r5-core.markdown/schema}},
                                                :_markdown {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                         :zen/desc "Source for page"},
                                :name {:confirms #{hl7-fhir-r5-core.url/schema},
                                       :zen/desc "Name of the page when published"},
                                :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                :title {:confirms #{hl7-fhir-r5-core.string/schema},
                                        :zen/desc "Short title shown for navigational assistance"},
                                :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                :generation {:confirms #{hl7-fhir-r5-core.code/schema},
                                             :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.guide-page-generation/value-set,
                                                                  :strength :required},
                                             :zen/desc "html | markdown | xml | generated"},
                                :_generation {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                :page {:type zen/vector,
                                       :every {:confirms #{hl7-fhir-r5-core.ImplementationGuide/definition-page-schema},
                                               :zen/desc "Nested Pages / Sections"}}},
                         :require #{:generation :name :title},
                         :zen/desc "Page/Section in the Guide"},
 schema {:zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r5-core.DomainResource/schema
                     zen.fhir/Resource},
         :zen/tags #{zen/schema zen.fhir/base-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/ImplementationGuide",
         :require #{:fhirVersion :name :status :url :packageId},
         :type zen/map,
         :zen/desc "A set of rules of how a particular interoperability or standards problem is solved - typically through the use of FHIR resources. This resource is used to gather all the parts of an implementation guide into a logical whole and to publish a computable definition of all the parts.",
         :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                              :zen/desc "Natural language description of the implementation guide"},
                :definition {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                             :type zen/map,
                             :keys {:grouping {:type zen/vector,
                                               :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                       :type zen/map,
                                                       :keys {:name {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                     :zen/desc "Descriptive name for the package"},
                                                              :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                              :description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                                            :zen/desc "Human readable text describing the package"},
                                                              :_description {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                       :require #{:name},
                                                       :zen/desc "Grouping used to present related resources in the IG"}},
                                    :resource {:type zen/vector,
                                               :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                       :type zen/map,
                                                       :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                                            :zen/desc "Reason why included in guide"},
                                                              :isExample {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                                                          :zen/desc "Is this an example"},
                                                              :fhirVersion {:type zen/vector,
                                                                            :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                                    :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.FHIR-version/value-set,
                                                                                                         :strength :required},
                                                                                    :zen/desc "Versions this applies to (if different to IG)"}},
                                                              :groupingId {:confirms #{hl7-fhir-r5-core.id/schema},
                                                                           :zen/desc "Grouping this is part of"},
                                                              :name {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                     :zen/desc "Human readable name for the resource"},
                                                              :_fhirVersion {:type zen/vector,
                                                                             :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                              :_isExample {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                              :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                              :_profile {:type zen/vector,
                                                                         :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                              :_groupingId {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                              :reference {:confirms #{hl7-fhir-r5-core.Reference/schema
                                                                                      zen.fhir/Reference},
                                                                          :zen.fhir/reference {:refers #{}},
                                                                          :zen/desc "Location of the resource"},
                                                              :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                              :profile {:type zen/vector,
                                                                        :every {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                                                :zen/desc "Profile(s) this is an example of"}}},
                                                       :require #{:reference},
                                                       :zen/desc "Resource in the implementation guide"}},
                                    :page {:confirms #{hl7-fhir-r5-core.ImplementationGuide/definition-page-schema}},
                                    :parameter {:type zen/vector,
                                                :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                        :type zen/map,
                                                        :keys {:code {:confirms #{hl7-fhir-r5-core.Coding/schema},
                                                                      :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.guide-parameter-code/value-set,
                                                                                           :strength :extensible},
                                                                      :zen/desc "Code that identifies parameter"},
                                                               :value {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                       :zen/desc "Value for named type"},
                                                               :_value {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                        :require #{:value
                                                                   :code},
                                                        :zen/desc "Defines how IG is built by tools"}},
                                    :template {:type zen/vector,
                                               :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                       :type zen/map,
                                                       :keys {:code {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                     :zen/desc "Type of template specified"},
                                                              :_code {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                              :source {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                       :zen/desc "The source location for the template"},
                                                              :_source {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                              :scope {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                      :zen/desc "The scope in which the template applies"},
                                                              :_scope {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                       :require #{:source
                                                                  :code},
                                                       :zen/desc "A template for building resources"}}},
                             :zen/desc "Information needed to build the IG"},
                :_license {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :date {:confirms #{hl7-fhir-r5-core.dateTime/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Date last changed"},
                :publisher {:confirms #{hl7-fhir-r5-core.string/schema},
                            :fhir/flags #{:SU},
                            :zen/desc "Name of the publisher/steward (organization or individual)"},
                :fhirVersion {:type zen/vector,
                              :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                      :fhir/flags #{:SU},
                                      :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.FHIR-version/value-set,
                                                           :strength :required},
                                      :zen/desc "FHIR Version(s) this Implementation Guide targets"},
                              :minItems 1},
                :license {:confirms #{hl7-fhir-r5-core.code/schema},
                          :fhir/flags #{:SU},
                          :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.spdx-license/value-set,
                                               :strength :required},
                          :zen/desc "SPDX license code for this IG (or not-open-source)"},
                :jurisdiction {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.jurisdiction/value-set,
                                                            :strength :extensible},
                                       :zen/desc "Intended jurisdiction for implementation guide (if applicable)"}},
                :_publisher {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_copyrightLabel {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :global {:type zen/vector,
                         :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                 :type zen/map,
                                 :keys {:type {:confirms #{hl7-fhir-r5-core.code/schema},
                                               :fhir/flags #{:SU},
                                               :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.resource-types/value-set,
                                                                    :strength :required},
                                               :zen/desc "Type this profile applies to"},
                                        :_type {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                        :profile {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                  :fhir/flags #{:SU},
                                                  :zen/desc "Profile that all resources must conform to"},
                                        :_profile {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                 :require #{:type :profile},
                                 :fhir/flags #{:SU},
                                 :zen/desc "Profiles that apply globally"}},
                :purpose {:confirms #{hl7-fhir-r5-core.markdown/schema},
                          :zen/desc "Why this implementation guide is defined"},
                :dependsOn {:type zen/vector,
                            :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                    :type zen/map,
                                    :keys {:uri {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                 :fhir/flags #{:SU},
                                                 :zen/desc "Identity of the IG that this depends on"},
                                           :_uri {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                           :packageId {:confirms #{hl7-fhir-r5-core.id/schema},
                                                       :fhir/flags #{:SU},
                                                       :zen/desc "NPM Package name for IG this depends on"},
                                           :_packageId {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                           :version {:confirms #{hl7-fhir-r5-core.string/schema},
                                                     :fhir/flags #{:SU},
                                                     :zen/desc "Version of the IG"},
                                           :_version {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                           :reason {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                    :zen/desc "Why dependency exists"},
                                           :_reason {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                    :require #{:uri},
                                    :fhir/flags #{:SU},
                                    :zen/desc "Another Implementation guide this depends on"}},
                :_date {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :name {:confirms #{hl7-fhir-r5-core.string/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Name for this implementation guide (computer friendly)"},
                :_status {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_fhirVersion {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                :copyrightLabel {:confirms #{hl7-fhir-r5-core.string/schema},
                                 :zen/desc "Copyright holder and year(s)"},
                :_experimental {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :useContext {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.UsageContext/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "The context that the content is intended to support"}},
                :copyright {:confirms #{hl7-fhir-r5-core.markdown/schema},
                            :zen/desc "Use and/or publishing restrictions"},
                :versionAlgorithm {:fhir/polymorphic true,
                                   :type zen/map,
                                   :exclusive-keys #{#{:string
                                                       :Coding}},
                                   :keys {:string {:confirms #{hl7-fhir-r5-core.string/schema}},
                                          :_string {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :Coding {:confirms #{hl7-fhir-r5-core.Coding/schema}}},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.version-algorithm/value-set,
                                                        :strength :extensible},
                                   :zen/desc "How to compare versions"},
                :experimental {:confirms #{hl7-fhir-r5-core.boolean/schema},
                               :fhir/flags #{:SU},
                               :zen/desc "For testing purposes, not real usage"},
                :manifest {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                           :type zen/map,
                           :keys {:rendering {:confirms #{hl7-fhir-r5-core.url/schema},
                                              :fhir/flags #{:SU},
                                              :zen/desc "Location of rendered implementation guide"},
                                  :_rendering {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                  :resource {:type zen/vector,
                                             :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                     :type zen/map,
                                                     :keys {:reference {:confirms #{hl7-fhir-r5-core.Reference/schema
                                                                                    zen.fhir/Reference},
                                                                        :fhir/flags #{:SU},
                                                                        :zen.fhir/reference {:refers #{}},
                                                                        :zen/desc "Location of the resource"},
                                                            :isExample {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                                                        :zen/desc "Is this an example"},
                                                            :_isExample {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                            :profile {:type zen/vector,
                                                                      :every {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                                              :zen/desc "Profile(s) this is an example of"}},
                                                            :_profile {:type zen/vector,
                                                                       :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                            :relativePath {:confirms #{hl7-fhir-r5-core.url/schema},
                                                                           :zen/desc "Relative path for page in IG"},
                                                            :_relativePath {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                     :require #{:reference},
                                                     :fhir/flags #{:SU},
                                                     :zen/desc "Resource in the implementation guide"},
                                             :minItems 1},
                                  :page {:type zen/vector,
                                         :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                 :type zen/map,
                                                 :keys {:name {:confirms #{hl7-fhir-r5-core.string/schema},
                                                               :zen/desc "HTML page name"},
                                                        :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                        :title {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                :zen/desc "Title of the page, for references"},
                                                        :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                        :anchor {:type zen/vector,
                                                                 :every {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                         :zen/desc "Anchor available on the page"}},
                                                        :_anchor {:type zen/vector,
                                                                  :every {:confirms #{hl7-fhir-r5-core.Element/schema}}}},
                                                 :require #{:name},
                                                 :zen/desc "HTML page within the parent IG"}},
                                  :image {:type zen/vector,
                                          :every {:confirms #{hl7-fhir-r5-core.string/schema},
                                                  :zen/desc "Image within the IG"}},
                                  :_image {:type zen/vector,
                                           :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                  :other {:type zen/vector,
                                          :every {:confirms #{hl7-fhir-r5-core.string/schema},
                                                  :zen/desc "Additional linkable file in IG"}},
                                  :_other {:type zen/vector,
                                           :every {:confirms #{hl7-fhir-r5-core.Element/schema}}}},
                           :require #{:resource},
                           :zen/desc "Information about an assembled IG"},
                :title {:confirms #{hl7-fhir-r5-core.string/schema},
                        :fhir/flags #{:SU},
                        :zen/desc "Name for this implementation guide (human friendly)"},
                :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_purpose {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :status {:confirms #{hl7-fhir-r5-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.publication-status/value-set,
                                              :strength :required},
                         :zen/desc "draft | active | retired | unknown"},
                :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :url {:confirms #{hl7-fhir-r5-core.uri/schema},
                      :fhir/flags #{:SU},
                      :zen/desc "Canonical identifier for this implementation guide, represented as a URI (globally unique)"},
                :identifier {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.Identifier/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Additional identifier for the implementation guide (business identifier)"}},
                :_copyright {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_packageId {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :version {:confirms #{hl7-fhir-r5-core.string/schema},
                          :fhir/flags #{:SU},
                          :zen/desc "Business version of the implementation guide"},
                :_version {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :packageId {:confirms #{hl7-fhir-r5-core.id/schema},
                            :fhir/flags #{:SU},
                            :zen/desc "NPM Package name for IG"},
                :contact {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Contact details for the publisher"}},
                :_url {:confirms #{hl7-fhir-r5-core.Element/schema}}},
         :zen.fhir/type "ImplementationGuide"}}
