{ns hl7-fhir-r5-core.MetadataResource,
 import #{hl7-fhir-r5-core.DomainResource
          hl7-fhir-r5-core.value-set.definition-topic
          zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.date
          hl7-fhir-r5-core.Period
          hl7-fhir-r5-core.RelatedArtifact
          hl7-fhir-r5-core.ContactDetail},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Common Interface declaration for conformance and knowledge artifact resources.",
         :zen.fhir/type "MetadataResource",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/MetadataResource",
         :zen.fhir/version "0.6.30",
         :confirms #{hl7-fhir-r5-core.DomainResource/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:endorser {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                   :zen/desc "Who endorsed the {{title}}"}},
                :approvalDate {:confirms #{hl7-fhir-r5-core.date/schema},
                               :zen/desc "When the {{title}} was approved by publisher"},
                :_approvalDate {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :topic {:type zen/vector,
                        :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.definition-topic/value-set,
                                                     :strength :example},
                                :zen/desc "E.g. Education, Treatment, Assessment, etc"}},
                :author {:type zen/vector,
                         :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                 :zen/desc "Who authored the {{title}}"}},
                :_lastReviewDate {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :lastReviewDate {:confirms #{hl7-fhir-r5-core.date/schema},
                                 :zen/desc "When the {{title}} was last reviewed by the publisher"},
                :editor {:type zen/vector,
                         :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                 :zen/desc "Who edited the {{title}}"}},
                :reviewer {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                   :zen/desc "Who reviewed the {{title}}"}},
                :relatedArtifact {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-r5-core.RelatedArtifact/schema},
                                          :zen/desc "Additional documentation, citations, etc"}},
                :effectivePeriod {:confirms #{hl7-fhir-r5-core.Period/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "When the {{title}} is expected to be used"}}}}
