{ns hl7-fhir-r5-core.ObservationDefinition,
 import #{hl7-fhir-r5-core.DomainResource
          hl7-fhir-r5-core.value-set.administrative-gender
          hl7-fhir-r5-core.markdown
          hl7-fhir-r5-core.BackboneElement
          hl7-fhir-r5-core.boolean
          zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.value-set.body-site
          hl7-fhir-r5-core.ObservationDefinition
          hl7-fhir-r5-core.value-set.observation-category
          hl7-fhir-r5-core.UsageContext
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.value-set.version-algorithm
          hl7-fhir-r5-core.value-set.jurisdiction
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.DeviceDefinition
          hl7-fhir-r5-core.value-set.observation-range-category
          hl7-fhir-r5-core.Questionnaire
          hl7-fhir-r5-core.dateTime
          hl7-fhir-r5-core.Device
          hl7-fhir-r5-core.value-set.referencerange-meaning
          hl7-fhir-r5-core.Reference
          hl7-fhir-r5-core.value-set.observation-codes
          hl7-fhir-r5-core.date
          hl7-fhir-r5-core.value-set.observation-methods
          hl7-fhir-r5-core.code
          hl7-fhir-r5-core.Identifier
          hl7-fhir-r5-core.SpecimenDefinition
          hl7-fhir-r5-core.Period
          hl7-fhir-r5-core.value-set.publication-status
          hl7-fhir-r5-core.canonical
          hl7-fhir-r5-core.Coding
          hl7-fhir-r5-core.Range
          hl7-fhir-r5-core.value-set.referencerange-appliesto
          hl7-fhir-r5-core.value-set.permitted-data-type
          hl7-fhir-r5-core.uri
          hl7-fhir-r5-core.value-set.ucum-units
          hl7-fhir-r5-core.ContactDetail},
 qualifiedValue-schema {:zen/tags #{zen/schema
                                    zen.fhir/structure-schema},
                        :zen.fhir/version "0.6.22-2",
                        :confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                        :type zen/map,
                        :keys {:age {:confirms #{hl7-fhir-r5-core.Range/schema},
                                     :zen/desc "Applicable age range for the set of qualified values"},
                               :appliesTo {:type zen/vector,
                                           :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.referencerange-appliesto/value-set,
                                                                        :strength :example},
                                                   :zen/desc "Targetted population for the set of qualified values"}},
                               :_gender {:confirms #{hl7-fhir-r5-core.Element/schema}},
                               :validCodedValueSet {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                    :zen/desc "Value set of valid coded values as part of this set of qualified values"},
                               :rangeCategory {:confirms #{hl7-fhir-r5-core.code/schema},
                                               :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.observation-range-category/value-set,
                                                                    :strength :required},
                                               :zen/desc "reference | critical | absolute"},
                               :abnormalCodedValueSet {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                       :zen/desc "Value set of abnormal coded values as part of this set of qualified values"},
                               :_criticalCodedValueSet {:confirms #{hl7-fhir-r5-core.Element/schema}},
                               :_condition {:confirms #{hl7-fhir-r5-core.Element/schema}},
                               :condition {:confirms #{hl7-fhir-r5-core.string/schema},
                                           :zen/desc "Condition associated with the set of qualified values"},
                               :_validCodedValueSet {:confirms #{hl7-fhir-r5-core.Element/schema}},
                               :context {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.referencerange-meaning/value-set,
                                                              :strength :extensible},
                                         :zen/desc "Context qualifier for the set of qualified values"},
                               :_normalCodedValueSet {:confirms #{hl7-fhir-r5-core.Element/schema}},
                               :gestationalAge {:confirms #{hl7-fhir-r5-core.Range/schema},
                                                :zen/desc "Applicable gestational age range for the set of qualified values"},
                               :normalCodedValueSet {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                     :zen/desc "Value set of normal coded values as part of this set of qualified values"},
                               :gender {:confirms #{hl7-fhir-r5-core.code/schema},
                                        :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.administrative-gender/value-set,
                                                             :strength :required},
                                        :zen/desc "male | female | other | unknown"},
                               :_abnormalCodedValueSet {:confirms #{hl7-fhir-r5-core.Element/schema}},
                               :criticalCodedValueSet {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                                       :zen/desc "Value set of critical coded values as part of this set of qualified values"},
                               :_rangeCategory {:confirms #{hl7-fhir-r5-core.Element/schema}},
                               :range {:confirms #{hl7-fhir-r5-core.Range/schema},
                                       :zen/desc "The range for continuous or ordinal observations"}},
                        :zen/desc "Set of qualified values for observation results"},
 schema {:zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r5-core.DomainResource/schema
                     zen.fhir/Resource},
         :zen/tags #{zen/schema zen.fhir/base-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/ObservationDefinition",
         :require #{:status :code},
         :type zen/map,
         :zen/desc "Set of definitional characteristics for a kind of observation or measurement produced or consumed by an orderable health care service.",
         :keys {:permittedUnit {:type zen/vector,
                                :every {:confirms #{hl7-fhir-r5-core.Coding/schema},
                                        :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.ucum-units/value-set,
                                                             :strength :preferred},
                                        :zen/desc "Unit for quantitative results"}},
                :description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                              :zen/desc "Natural language description of the ObservationDefinition"},
                :performerType {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                :fhir/flags #{:SU},
                                :zen/desc "Desired kind of performer for such kind of observation"},
                :category {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.observation-category/value-set,
                                                        :strength :example},
                                   :zen/desc "General type of observation"}},
                :date {:confirms #{hl7-fhir-r5-core.dateTime/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Date last changed"},
                :hasMember {:type zen/vector,
                            :every {:confirms #{hl7-fhir-r5-core.Reference/schema
                                                zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-r5-core.ObservationDefinition/schema
                                                                   hl7-fhir-r5-core.Questionnaire/schema}},
                                    :zen/desc "Definitions of related resources belonging to this kind of observation group"}},
                :publisher {:confirms #{hl7-fhir-r5-core.string/schema},
                            :fhir/flags #{:SU},
                            :zen/desc "The name of the individual or organization that published the ObservationDefinition"},
                :approvalDate {:confirms #{hl7-fhir-r5-core.date/schema},
                               :zen/desc "When ObservationDefinition was approved by publisher"},
                :jurisdiction {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.jurisdiction/value-set,
                                                            :strength :extensible},
                                       :zen/desc "Intended jurisdiction for this ObservationDefinition (if applicable)"}},
                :_publisher {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_copyrightLabel {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :purpose {:confirms #{hl7-fhir-r5-core.markdown/schema},
                          :zen/desc "Why this ObservationDefinition is defined"},
                :method {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.observation-methods/value-set,
                                              :strength :example},
                         :zen/desc "Method used to produce the observation"},
                :_date {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :name {:confirms #{hl7-fhir-r5-core.string/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Name for this ObservationDefinition (computer friendly)"},
                :specimen {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r5-core.Reference/schema
                                               zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{hl7-fhir-r5-core.SpecimenDefinition/schema}},
                                   :zen/desc "Kind of specimen used by this type of observation"}},
                :_multipleResultsAllowed {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_status {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :copyrightLabel {:confirms #{hl7-fhir-r5-core.string/schema},
                                 :zen/desc "Copyright holder and year(s)"},
                :_experimental {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :useContext {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.UsageContext/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Content intends to support these contexts"}},
                :copyright {:confirms #{hl7-fhir-r5-core.markdown/schema},
                            :zen/desc "Use and/or publishing restrictions"},
                :versionAlgorithm {:fhir/polymorphic true,
                                   :type zen/map,
                                   :exclusive-keys #{#{:string
                                                       :Coding}},
                                   :keys {:string {:confirms #{hl7-fhir-r5-core.string/schema}},
                                          :_string {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :Coding {:confirms #{hl7-fhir-r5-core.Coding/schema}}},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.version-algorithm/value-set,
                                                        :strength :extensible},
                                   :zen/desc "How to compare versions"},
                :_approvalDate {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :experimental {:confirms #{hl7-fhir-r5-core.boolean/schema},
                               :fhir/flags #{:SU},
                               :zen/desc "If for testing purposes, not real usage"},
                :derivedFromCanonical {:type zen/vector,
                                       :every {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                               :fhir/flags #{:SU},
                                               :zen/desc "Based on FHIR definition of another observation"}},
                :component {:type zen/vector,
                            :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                    :type zen/map,
                                    :keys {:code {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                  :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.observation-codes/value-set,
                                                                       :strength :example},
                                                  :zen/desc "Type of observation"},
                                           :permittedDataType {:type zen/vector,
                                                               :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.permitted-data-type/value-set,
                                                                                            :strength :required},
                                                                       :zen/desc "Quantity | CodeableConcept | string | boolean | integer | Range | Ratio | SampledData | time | dateTime | Period"}},
                                           :_permittedDataType {:type zen/vector,
                                                                :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                           :permittedUnit {:type zen/vector,
                                                           :every {:confirms #{hl7-fhir-r5-core.Coding/schema},
                                                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.ucum-units/value-set,
                                                                                        :strength :preferred},
                                                                   :zen/desc "Unit for quantitative results"}},
                                           :qualifiedValue {:type zen/vector,
                                                            :every {:confirms #{hl7-fhir-r5-core.ObservationDefinition/qualifiedValue-schema},
                                                                    :zen/desc "Set of qualified values for observation results"}}},
                                    :require #{:code},
                                    :zen/desc "Component results"}},
                :_preferredReportName {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :title {:confirms #{hl7-fhir-r5-core.string/schema},
                        :fhir/flags #{:SU},
                        :zen/desc "Name for this ObservationDefinition (human friendly)"},
                :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_purpose {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :derivedFromUri {:type zen/vector,
                                 :every {:confirms #{hl7-fhir-r5-core.uri/schema},
                                         :fhir/flags #{:SU},
                                         :zen/desc "Based on external definition"}},
                :_lastReviewDate {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :status {:confirms #{hl7-fhir-r5-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.publication-status/value-set,
                                              :strength :required},
                         :zen/desc "draft | active | retired | unknown"},
                :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_derivedFromUri {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                :url {:confirms #{hl7-fhir-r5-core.uri/schema},
                      :fhir/flags #{:SU},
                      :zen/desc "Logical canonical URL to reference this ObservationDefinition (globally unique)"},
                :code {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                       :fhir/flags #{:SU},
                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.observation-codes/value-set,
                                            :strength :example},
                       :zen/desc "Type of observation"},
                :identifier {:confirms #{hl7-fhir-r5-core.Identifier/schema},
                             :fhir/flags #{:SU},
                             :zen/desc "Business identifier of the ObservationDefinition"},
                :lastReviewDate {:confirms #{hl7-fhir-r5-core.date/schema},
                                 :zen/desc "Date on which the asset content was last reviewed by the publisher"},
                :bodySite {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                           :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.body-site/value-set,
                                                :strength :example},
                           :zen/desc "Body part to be observed"},
                :qualifiedValue {:type zen/vector,
                                 :every {:confirms #{hl7-fhir-r5-core.ObservationDefinition/qualifiedValue-schema}}},
                :_copyright {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :permittedDataType {:type zen/vector,
                                    :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                            :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.permitted-data-type/value-set,
                                                                 :strength :required},
                                            :zen/desc "Quantity | CodeableConcept | string | boolean | integer | Range | Ratio | SampledData | time | dateTime | Period"}},
                :multipleResultsAllowed {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                         :zen/desc "Multiple results allowed for conforming observations"},
                :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :device {:type zen/vector,
                         :every {:confirms #{hl7-fhir-r5-core.Reference/schema
                                             zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Device/schema
                                                                hl7-fhir-r5-core.DeviceDefinition/schema}},
                                 :zen/desc "Measurement device or model of device"}},
                :_permittedDataType {:type zen/vector,
                                     :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                :preferredReportName {:confirms #{hl7-fhir-r5-core.string/schema},
                                      :zen/desc "The preferred name to be used when reporting the observation results"},
                :version {:confirms #{hl7-fhir-r5-core.string/schema},
                          :fhir/flags #{:SU},
                          :zen/desc "Business version of the ObservationDefinition"},
                :_version {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :contact {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Contact details for the publisher"}},
                :subject {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Type of subject for the defined observation"}},
                :_url {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_derivedFromCanonical {:type zen/vector,
                                        :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                :effectivePeriod {:confirms #{hl7-fhir-r5-core.Period/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "The effective date range for the ObservationDefinition"}},
         :zen.fhir/type "ObservationDefinition"}}
