{ns hl7-fhir-r5-core.ParticipantContactable,
 import #{zen.fhir hl7-fhir-r5-core.Base},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Logical Model: A pattern followed by resources that represent a participant that can be contacted.",
         :zen.fhir/type "ParticipantContactable",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/ParticipantContactable",
         :zen.fhir/version "0.6.22-1",
         :confirms #{hl7-fhir-r5-core.Base/schema}}}
