{ns hl7-fhir-r5-core.PrimitiveType,
 import #{zen.fhir hl7-fhir-r5-core.DataType},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "PrimitiveType Type: The base type for all re-useable types defined that have a simple property.",
         :zen.fhir/type "PrimitiveType",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/PrimitiveType",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r5-core.DataType/schema}}}
