{ns hl7-fhir-r5-core.publishablelibrary,
 import #{zen.fhir
          hl7-fhir-uv-extensions-r5.cqf-logicDefinition
          hl7-fhir-r5-core.shareablelibrary},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r5-core.shareablelibrary/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/publishablelibrary",
         :require #{:date :type},
         :type zen/map,
         :zen/desc "Supports declaration of the library metadata required by HL7 and other organizations that share and publish libraries with a focus on the aspects of that metadata that are important for post-publication activities including distribution, inclusion in repositories, consumption, and implementation.",
         :keys {:date {:fhir/flags #{:MS}},
                :endorser {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :approvalDate {:fhir/flags #{:MS}},
                :jurisdiction {:type zen/vector,
                               :every {:fhir/flags #{:MS}}},
                :purpose {:fhir/flags #{:MS}},
                :logicDefinition {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-uv-extensions-r5.cqf-logicDefinition/schema},
                                          :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/cqf-logicDefinition",
                                          :fhir/flags #{:MS}}},
                :copyrightLabel {:fhir/flags #{:MS}},
                :useContext {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :copyright {:fhir/flags #{:MS}},
                :type {:fhir/flags #{:MS}},
                :topic {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :author {:type zen/vector,
                         :every {:fhir/flags #{:MS}}},
                :usage {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :lastReviewDate {:fhir/flags #{:MS}},
                :editor {:type zen/vector,
                         :every {:fhir/flags #{:MS}}},
                :reviewer {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :relatedArtifact {:type zen/vector,
                                  :every {:type zen/map,
                                          :keys {:display {:fhir/flags #{:MS}},
                                                 :document {:fhir/flags #{:MS}},
                                                 :resource {:fhir/flags #{:MS}},
                                                 :resourceReference {:fhir/flags #{:MS},
                                                                     :confirms #{zen.fhir/Reference},
                                                                     :zen.fhir/reference {:refers #{}}}},
                                          :fhir/flags #{:MS}}},
                :contact {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :effectivePeriod {:fhir/flags #{:MS}}},
         :zen.fhir/type "Library"}}
