{ns hl7-fhir-r5-core.publishableplandefinition,
 import #{zen.fhir hl7-fhir-r5-core.shareableplandefinition},
 schema {:zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r5-core.shareableplandefinition/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/publishableplandefinition",
         :require #{:date},
         :type zen/map,
         :zen/desc "Supports declaration of the PlanDefinition metadata required by HL7 and other organizations that share and publish plandefinitions with a focus on the aspects of that metadata that are important for post-publication activities including distribution, inclusion in repositories, consumption, and implementation.",
         :keys {:date {:fhir/flags #{:MS}},
                :endorser {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :approvalDate {:fhir/flags #{:MS}},
                :jurisdiction {:type zen/vector,
                               :every {:fhir/flags #{:MS}}},
                :purpose {:fhir/flags #{:MS}},
                :copyrightLabel {:fhir/flags #{:MS}},
                :useContext {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :copyright {:fhir/flags #{:MS}},
                :topic {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :author {:type zen/vector,
                         :every {:fhir/flags #{:MS}}},
                :usage {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :lastReviewDate {:fhir/flags #{:MS}},
                :editor {:type zen/vector,
                         :every {:fhir/flags #{:MS}}},
                :reviewer {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :relatedArtifact {:type zen/vector,
                                  :every {:type zen/map,
                                          :keys {:display {:fhir/flags #{:MS}},
                                                 :document {:fhir/flags #{:MS}},
                                                 :resource {:fhir/flags #{:MS}},
                                                 :resourceReference {:fhir/flags #{:MS},
                                                                     :confirms #{zen.fhir/Reference},
                                                                     :zen.fhir/reference {:refers #{}}}},
                                          :fhir/flags #{:MS}}},
                :contact {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :effectivePeriod {:fhir/flags #{:MS}}},
         :zen.fhir/type "PlanDefinition"}}
