{ns hl7-fhir-r5-core.Publishable,
 import #{zen.fhir hl7-fhir-r5-core.Base},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Logical Model: A pattern to be followed by resources that represent a publishable knowledge artifact such as a ValueSet, Profile, Library, Decision Support Rule, or Quality Measure.",
         :zen.fhir/type "Publishable",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Publishable",
         :zen.fhir/version "0.6.29-22",
         :confirms #{hl7-fhir-r5-core.Base/schema}}}
