{ns hl7-fhir-r5-core.Shareable,
 import #{zen.fhir hl7-fhir-r5-core.Base},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Logical Model: A pattern to be followed by [canonical resources](canonicalresource.html) that meet minimal requirements for sharing via registries or similar mechanisms.",
         :zen.fhir/type "Shareable",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Shareable",
         :zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r5-core.Base/schema}}}
