{ns hl7-fhir-r5-core.shareabletestscript,
 import #{hl7-fhir-r5-core.TestScript zen.fhir},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Enforces the minimum information set for the test script metadata required by HL7 and other organizations that share and publish test scripts",
         :zen.fhir/type "TestScript",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/shareabletestscript",
         :zen.fhir/version "0.6.30-7",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r5-core.TestScript/schema},
         :type zen/map,
         :require #{:description
                    :publisher
                    :experimental
                    :url
                    :version}}}
