{ns hl7-fhir-r5-core.string,
 import #{zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "string Type: A sequence of Unicode characters",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/string",
         :zen.fhir/version "0.6.30-7",
         :type zen/string,
         :maxLength 1048576}}
