{ns hl7-fhir-r5-core.SubstancePolymer,
 import #{hl7-fhir-r5-core.DomainResource
          hl7-fhir-r5-core.BackboneElement
          hl7-fhir-r5-core.boolean
          zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.Attachment
          hl7-fhir-r5-core.integer
          hl7-fhir-r5-core.Identifier
          hl7-fhir-r5-core.Quantity},
 schema {:zen/tags #{zen/schema zen.fhir/base-schema},
         :zen/desc "Properties of a substance specific to it being a polymer.",
         :zen.fhir/type "SubstancePolymer",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/SubstancePolymer",
         :zen.fhir/version "0.6.22-1",
         :confirms #{hl7-fhir-r5-core.DomainResource/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:identifier {:confirms #{hl7-fhir-r5-core.Identifier/schema},
                             :fhir/flags #{:SU},
                             :zen/desc "A business idenfier for this polymer, but typically this is handled by a SubstanceDefinition identifier"},
                :class {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                        :fhir/flags #{:SU},
                        :zen/desc "Overall type of the polymer"},
                :geometry {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                           :fhir/flags #{:SU},
                           :zen/desc "Polymer geometry, e.g. linear, branched, cross-linked, network or dendritic"},
                :copolymerConnectivity {:type zen/vector,
                                        :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                :fhir/flags #{:SU},
                                                :zen/desc "Descrtibes the copolymer sequence type (polymer connectivity)"}},
                :modification {:confirms #{hl7-fhir-r5-core.string/schema},
                               :fhir/flags #{:SU},
                               :zen/desc "Todo - this is intended to connect to a repeating full modification structure, also used by Protein and Nucleic Acid . String is just a placeholder"},
                :_modification {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :monomerSet {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                     :type zen/map,
                                     :keys {:ratioType {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                        :fhir/flags #{:SU},
                                                        :zen/desc "Captures the type of ratio to the entire polymer, e.g. Monomer/Polymer ratio, SRU/Polymer Ratio"},
                                            :startingMaterial {:type zen/vector,
                                                               :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                                       :type zen/map,
                                                                       :keys {:code {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                                                     :fhir/flags #{:SU},
                                                                                     :zen/desc "The type of substance for this starting material"},
                                                                              :category {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                                                         :fhir/flags #{:SU},
                                                                                         :zen/desc "Substance high level category, e.g. chemical substance"},
                                                                              :isDefining {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                                                                           :fhir/flags #{:SU},
                                                                                           :zen/desc "Used to specify whether the attribute described is a defining element for the unique identification of the polymer"},
                                                                              :_isDefining {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                              :amount {:confirms #{hl7-fhir-r5-core.Quantity/schema},
                                                                                       :fhir/flags #{:SU},
                                                                                       :zen/desc "A percentage"}},
                                                                       :fhir/flags #{:SU},
                                                                       :zen/desc "The starting materials - monomer(s) used in the synthesis of the polymer"}}},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Todo"}},
                :repeat {:type zen/vector,
                         :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                 :type zen/map,
                                 :keys {:averageMolecularFormula {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                  :fhir/flags #{:SU},
                                                                  :zen/desc "A representation of an (average) molecular formula from a polymer"},
                                        :_averageMolecularFormula {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                        :repeatUnitAmountType {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                               :fhir/flags #{:SU},
                                                               :zen/desc "How the quantitative amount of Structural Repeat Units is captured (e.g. Exact, Numeric, Average)"},
                                        :repeatUnit {:type zen/vector,
                                                     :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                             :type zen/map,
                                                             :keys {:unit {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                           :fhir/flags #{:SU},
                                                                           :zen/desc "Structural repeat units are essential elements for defining polymers"},
                                                                    :_unit {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                    :orientation {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                                                  :fhir/flags #{:SU},
                                                                                  :zen/desc "The orientation of the polymerisation, e.g. head-tail, head-head, random"},
                                                                    :amount {:confirms #{hl7-fhir-r5-core.integer/schema},
                                                                             :fhir/flags #{:SU},
                                                                             :zen/desc "Number of repeats of this unit"},
                                                                    :_amount {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                    :degreeOfPolymerisation {:type zen/vector,
                                                                                             :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                                                                     :type zen/map,
                                                                                                     :keys {:type {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                                                                                   :fhir/flags #{:SU},
                                                                                                                   :zen/desc "The type of the degree of polymerisation shall be described, e.g. SRU/Polymer Ratio"},
                                                                                                            :average {:confirms #{hl7-fhir-r5-core.integer/schema},
                                                                                                                      :fhir/flags #{:SU},
                                                                                                                      :zen/desc "An average amount of polymerisation"},
                                                                                                            :_average {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                                                            :low {:confirms #{hl7-fhir-r5-core.integer/schema},
                                                                                                                  :fhir/flags #{:SU},
                                                                                                                  :zen/desc "A low expected limit of the amount"},
                                                                                                            :_low {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                                                            :high {:confirms #{hl7-fhir-r5-core.integer/schema},
                                                                                                                   :fhir/flags #{:SU},
                                                                                                                   :zen/desc "A high expected limit of the amount"},
                                                                                                            :_high {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                                                                     :fhir/flags #{:SU},
                                                                                                     :zen/desc "Applies to homopolymer and block co-polymers where the degree of polymerisation within a block can be described"}},
                                                                    :structuralRepresentation {:type zen/vector,
                                                                                               :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                                                                       :type zen/map,
                                                                                                       :keys {:type {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                                                                                     :fhir/flags #{:SU},
                                                                                                                     :zen/desc "The type of structure (e.g. Full, Partial, Representative)"},
                                                                                                              :representation {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                                                                               :fhir/flags #{:SU},
                                                                                                                               :zen/desc "The structural representation as text string in a standard format e.g. InChI, SMILES, MOLFILE, CDX, SDF, PDB, mmCIF"},
                                                                                                              :_representation {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                                                              :format {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                                                                                       :fhir/flags #{:SU},
                                                                                                                       :zen/desc "The format of the representation e.g. InChI, SMILES, MOLFILE, CDX, SDF, PDB, mmCIF"},
                                                                                                              :attachment {:confirms #{hl7-fhir-r5-core.Attachment/schema},
                                                                                                                           :fhir/flags #{:SU},
                                                                                                                           :zen/desc "An attached file with the structural representation"}},
                                                                                                       :fhir/flags #{:SU},
                                                                                                       :zen/desc "A graphical structure for this SRU"}}},
                                                             :fhir/flags #{:SU},
                                                             :zen/desc "An SRU - Structural Repeat Unit"}}},
                                 :fhir/flags #{:SU},
                                 :zen/desc "Specifies and quantifies the repeated units and their configuration"}}}}}
