{ns hl7-fhir-r5-core.SubscriptionTopic,
 import #{hl7-fhir-r5-core.DomainResource
          hl7-fhir-r5-core.value-set.subscriptiontopic-cr-behavior
          hl7-fhir-r5-core.markdown
          hl7-fhir-r5-core.value-set.search-modifier-code
          hl7-fhir-r5-core.BackboneElement
          hl7-fhir-r5-core.boolean
          hl7-terminology-r5.value-set.v2-0003
          zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.UsageContext
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.value-set.version-algorithm
          hl7-fhir-r5-core.value-set.jurisdiction
          hl7-fhir-r5-core.Element
          hl7-fhir-r5-core.dateTime
          hl7-fhir-r5-core.value-set.subscription-types
          hl7-fhir-r5-core.date
          hl7-fhir-r5-core.code
          hl7-fhir-r5-core.Identifier
          hl7-fhir-r5-core.Period
          hl7-fhir-r5-core.value-set.publication-status
          hl7-fhir-r5-core.canonical
          hl7-fhir-r5-core.value-set.search-comparator
          hl7-fhir-r5-core.Coding
          hl7-fhir-r5-core.uri
          hl7-fhir-r5-core.ContactDetail
          hl7-fhir-r5-core.value-set.interaction-trigger},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r5-core.DomainResource/schema
                     zen.fhir/Resource},
         :zen/tags #{zen/schema zen.fhir/base-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/SubscriptionTopic",
         :require #{:status :url},
         :type zen/map,
         :zen/desc "Describes a stream of resource state changes identified by trigger criteria and annotated with labels useful to filter projections from this topic.",
         :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                              :zen/desc "Natural language description of the SubscriptionTopic"},
                :date {:confirms #{hl7-fhir-r5-core.dateTime/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Date status first applied"},
                :publisher {:confirms #{hl7-fhir-r5-core.string/schema},
                            :fhir/flags #{:SU},
                            :zen/desc "The name of the individual or organization that published the SubscriptionTopic"},
                :approvalDate {:confirms #{hl7-fhir-r5-core.date/schema},
                               :zen/desc "When SubscriptionTopic is/was approved by publisher"},
                :canFilterBy {:type zen/vector,
                              :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                      :type zen/map,
                                      :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                           :fhir/flags #{:SU},
                                                           :zen/desc "Description of this filter parameter"},
                                             :_filterDefinition {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                             :modifier {:type zen/vector,
                                                        :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.search-modifier-code/value-set,
                                                                                     :strength :required},
                                                                :zen/desc "missing | exact | contains | not | text | in | not-in | below | above | type | identifier | of-type | code-text | text-advanced | iterate"}},
                                             :_comparator {:type zen/vector,
                                                           :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                             :filterDefinition {:confirms #{hl7-fhir-r5-core.uri/schema},
                                                                :fhir/flags #{:SU},
                                                                :zen/desc "Canonical URL for a filterParameter definition"},
                                             :_filterParameter {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                             :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                             :_resource {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                             :filterParameter {:confirms #{hl7-fhir-r5-core.string/schema},
                                                               :fhir/flags #{:SU},
                                                               :zen/desc "Human-readable and computation-friendly name for a filter parameter usable by subscriptions on this topic, via Subscription.filterBy.filterParameter"},
                                             :resource {:confirms #{hl7-fhir-r5-core.uri/schema},
                                                        :fhir/flags #{:SU},
                                                        :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.subscription-types/value-set,
                                                                             :strength :extensible},
                                                        :zen/desc "URL of the triggering Resource that this filter applies to"},
                                             :comparator {:type zen/vector,
                                                          :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                  :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.search-comparator/value-set,
                                                                                       :strength :required},
                                                                  :zen/desc "eq | ne | gt | lt | ge | le | sa | eb | ap"}},
                                             :_modifier {:type zen/vector,
                                                         :every {:confirms #{hl7-fhir-r5-core.Element/schema}}}},
                                      :require #{:filterParameter},
                                      :fhir/flags #{:SU},
                                      :zen/desc "Properties by which a Subscription can filter notifications from the SubscriptionTopic"}},
                :jurisdiction {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.jurisdiction/value-set,
                                                            :strength :extensible},
                                       :zen/desc "Intended jurisdiction of the SubscriptionTopic (if applicable)"}},
                :_publisher {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_copyrightLabel {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :derivedFrom {:type zen/vector,
                              :every {:confirms #{hl7-fhir-r5-core.canonical/schema},
                                      :fhir/flags #{:SU},
                                      :zen/desc "Based on FHIR protocol or definition"}},
                :purpose {:confirms #{hl7-fhir-r5-core.markdown/schema},
                          :zen/desc "Why this SubscriptionTopic is defined"},
                :_date {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_derivedFrom {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                :name {:confirms #{hl7-fhir-r5-core.string/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Name for this subscription topic (computer friendly)"},
                :_status {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :copyrightLabel {:confirms #{hl7-fhir-r5-core.string/schema},
                                 :zen/desc "Copyright holder and year(s)"},
                :_experimental {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :useContext {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.UsageContext/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Content intends to support these contexts"}},
                :copyright {:confirms #{hl7-fhir-r5-core.markdown/schema},
                            :zen/desc "Use and/or publishing restrictions"},
                :versionAlgorithm {:fhir/polymorphic true,
                                   :type zen/map,
                                   :exclusive-keys #{#{:string
                                                       :Coding}},
                                   :keys {:string {:confirms #{hl7-fhir-r5-core.string/schema}},
                                          :_string {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                          :Coding {:confirms #{hl7-fhir-r5-core.Coding/schema}}},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.version-algorithm/value-set,
                                                        :strength :extensible},
                                   :zen/desc "How to compare versions"},
                :_approvalDate {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :experimental {:confirms #{hl7-fhir-r5-core.boolean/schema},
                               :fhir/flags #{:SU},
                               :zen/desc "If for testing purposes, not real usage"},
                :title {:confirms #{hl7-fhir-r5-core.string/schema},
                        :fhir/flags #{:SU},
                        :zen/desc "Name for this subscription topic (human friendly)"},
                :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_purpose {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :eventTrigger {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                       :type zen/map,
                                       :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                            :fhir/flags #{:SU},
                                                            :zen/desc "Text representation of the event trigger"},
                                              :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                              :event {:confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
                                                      :fhir/flags #{:SU},
                                                      :zen.fhir/value-set {:symbol hl7-terminology-r5.value-set.v2-0003/value-set,
                                                                           :strength :example},
                                                      :zen/desc "Event which can trigger a notification from the SubscriptionTopic"},
                                              :resource {:confirms #{hl7-fhir-r5-core.uri/schema},
                                                         :fhir/flags #{:SU},
                                                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.subscription-types/value-set,
                                                                              :strength :extensible},
                                                         :zen/desc "Data Type or Resource (reference to definition) for this trigger definition"},
                                              :_resource {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                       :require #{:event :resource},
                                       :fhir/flags #{:SU},
                                       :zen/desc "Event definitions the SubscriptionTopic"}},
                :_lastReviewDate {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :status {:confirms #{hl7-fhir-r5-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.publication-status/value-set,
                                              :strength :required},
                         :zen/desc "draft | active | retired | unknown"},
                :_name {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :url {:confirms #{hl7-fhir-r5-core.uri/schema},
                      :fhir/flags #{:SU},
                      :zen/desc "Canonical identifier for this subscription topic, represented as an absolute URI (globally unique)"},
                :identifier {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r5-core.Identifier/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Business identifier for subscription topic"}},
                :lastReviewDate {:confirms #{hl7-fhir-r5-core.date/schema},
                                 :zen/desc "Date the Subscription Topic was last reviewed by the publisher"},
                :_copyright {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :_title {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :notificationShape {:type zen/vector,
                                    :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                            :type zen/map,
                                            :keys {:resource {:confirms #{hl7-fhir-r5-core.uri/schema},
                                                              :fhir/flags #{:SU},
                                                              :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.subscription-types/value-set,
                                                                                   :strength :extensible},
                                                              :zen/desc "URL of the Resource that is the focus (main) resource in a notification shape"},
                                                   :_resource {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                   :include {:type zen/vector,
                                                             :every {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                     :fhir/flags #{:SU},
                                                                     :zen/desc "Include directives, rooted in the resource for this shape"}},
                                                   :_include {:type zen/vector,
                                                              :every {:confirms #{hl7-fhir-r5-core.Element/schema}}},
                                                   :revInclude {:type zen/vector,
                                                                :every {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                        :fhir/flags #{:SU},
                                                                        :zen/desc "Reverse include directives, rooted in the resource for this shape"}},
                                                   :_revInclude {:type zen/vector,
                                                                 :every {:confirms #{hl7-fhir-r5-core.Element/schema}}}},
                                            :require #{:resource},
                                            :fhir/flags #{:SU},
                                            :zen/desc "Properties for describing the shape of notifications generated by this topic"}},
                :version {:confirms #{hl7-fhir-r5-core.string/schema},
                          :fhir/flags #{:SU},
                          :zen/desc "Business version of the subscription topic"},
                :_version {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :contact {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r5-core.ContactDetail/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Contact details for the publisher"}},
                :resourceTrigger {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                          :type zen/map,
                                          :keys {:description {:confirms #{hl7-fhir-r5-core.markdown/schema},
                                                               :fhir/flags #{:SU},
                                                               :zen/desc "Text representation of the resource trigger"},
                                                 :_fhirPathCriteria {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                 :fhirPathCriteria {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                    :fhir/flags #{:SU},
                                                                    :zen/desc "FHIRPath based trigger rule"},
                                                 :queryCriteria {:confirms #{hl7-fhir-r5-core.BackboneElement/schema},
                                                                 :type zen/map,
                                                                 :keys {:_previous {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                        :_requireBoth {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                        :resultForCreate {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                                          :fhir/flags #{:SU},
                                                                                          :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.subscriptiontopic-cr-behavior/value-set,
                                                                                                               :strength :required},
                                                                                          :zen/desc "test-passes | test-fails"},
                                                                        :requireBoth {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                                                                      :fhir/flags #{:SU},
                                                                                      :zen/desc "Both must be true flag"},
                                                                        :_resultForCreate {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                        :_current {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                        :previous {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                                   :fhir/flags #{:SU},
                                                                                   :zen/desc "Rule applied to previous resource state"},
                                                                        :current {:confirms #{hl7-fhir-r5-core.string/schema},
                                                                                  :fhir/flags #{:SU},
                                                                                  :zen/desc "Rule applied to current resource state"},
                                                                        :_resultForDelete {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                                        :resultForDelete {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                                          :fhir/flags #{:SU},
                                                                                          :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.subscriptiontopic-cr-behavior/value-set,
                                                                                                               :strength :required},
                                                                                          :zen/desc "test-passes | test-fails"}},
                                                                 :fhir/flags #{:SU},
                                                                 :zen/desc "Query based trigger rule"},
                                                 :supportedInteraction {:type zen/vector,
                                                                        :every {:confirms #{hl7-fhir-r5-core.code/schema},
                                                                                :fhir/flags #{:SU},
                                                                                :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.interaction-trigger/value-set,
                                                                                                     :strength :required},
                                                                                :zen/desc "create | update | delete"}},
                                                 :_description {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                 :_resource {:confirms #{hl7-fhir-r5-core.Element/schema}},
                                                 :resource {:confirms #{hl7-fhir-r5-core.uri/schema},
                                                            :fhir/flags #{:SU},
                                                            :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.subscription-types/value-set,
                                                                                 :strength :extensible},
                                                            :zen/desc "Data Type or Resource (reference to definition) for this trigger definition"},
                                                 :_supportedInteraction {:type zen/vector,
                                                                         :every {:confirms #{hl7-fhir-r5-core.Element/schema}}}},
                                          :require #{:resource},
                                          :fhir/flags #{:SU},
                                          :zen/desc "Definition of a resource-based trigger for the subscription topic"}},
                :_url {:confirms #{hl7-fhir-r5-core.Element/schema}},
                :effectivePeriod {:confirms #{hl7-fhir-r5-core.Period/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "The effective date range for the SubscriptionTopic"}},
         :zen.fhir/type "SubscriptionTopic"}}
