{ns hl7-fhir-r5-core.transaction-response-bundle,
 import #{zen.fhir hl7-fhir-r5-core.Bundle},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "This profile holds all the requirements and constraints related to a FHIR transaction response.",
         :zen.fhir/type "Bundle",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/transaction-response-bundle",
         :zen.fhir/version "0.6.25-1",
         :confirms #{zen.fhir/Resource hl7-fhir-r5-core.Bundle/schema},
         :type zen/map,
         :keys {:type {:match "transaction-response"},
                :entry {:type zen/vector,
                        :every {:type zen/map, :require #{:fullUrl}}}}}}
