{ns hl7-fhir-r5-core.unsignedInt,
 import #{zen.fhir hl7-fhir-r5-core.integer},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "unsignedInt type: An integer with a value that is not negative (e.g. >= 0)",
         :zen.fhir/type "unsignedInt",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/unsignedInt",
         :zen.fhir/version "0.6.25-1",
         :type zen/integer,
         :min 0,
         :confirms #{hl7-fhir-r5-core.integer/schema}}}
