{ns hl7-fhir-r5-core.search.Account-relatedaccount,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Account-relatedaccount",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Account-relatedaccount",
         :fhir/type "reference",
         :name "relatedaccount",
         :expr {:Account {:knife [["relatedAccount" "account"]],
                          :jsonpath ["$.\"relatedAccount\".\"account\"[*]"],
                          :data-types #{{:type "Reference",
                                         :polymorphic? false}},
                          :template :reference}}}}
