{ns hl7-fhir-r5-core.search.AllergyIntolerance-manifestation-code,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "AllergyIntolerance-manifestation-code",
         :fhir/url "http://hl7.org/fhir/SearchParameter/AllergyIntolerance-manifestation-code",
         :fhir/type "token",
         :name "manifestation-code",
         :expr {:AllergyIntolerance {:knife [["reaction"
                                              "manifestation"
                                              "concept"]],
                                     :jsonpath ["$.\"reaction\".\"manifestation\".\"concept\"[*]"],
                                     :data-types #{},
                                     :template :token}}}}
