{ns hl7-fhir-r5-core.search.Appointment-subject,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Appointment-subject",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Appointment-subject",
         :fhir/type "reference",
         :name "subject",
         :expr {:Appointment {:knife [["subject"]],
                              :jsonpath ["$.\"subject\"[*]"],
                              :data-types #{{:type "Reference",
                                             :polymorphic? false}},
                              :template :reference}}}}
