{ns hl7-fhir-r5-core.search.AuditEvent-category,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "AuditEvent-category",
         :fhir/url "http://hl7.org/fhir/SearchParameter/AuditEvent-category",
         :fhir/type "token",
         :name "category",
         :expr {:AuditEvent {:knife [["category"]],
                             :jsonpath ["$.\"category\"[*]"],
                             :data-types #{{:type "CodeableConcept",
                                            :polymorphic? false}},
                             :template :token}}}}
