{ns hl7-fhir-r5-core.search.BiologicallyDerivedProduct-serial-number,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "BiologicallyDerivedProduct-serial-number",
         :fhir/url "http://hl7.org/fhir/SearchParameter/BiologicallyDerivedProduct-serial-number",
         :fhir/type "token",
         :name "serial-number",
         :expr {:BiologicallyDerivedProduct {:knife [["identifier"]],
                                             :jsonpath ["$.\"identifier\"[*]"],
                                             :data-types #{{:type "Identifier",
                                                            :polymorphic? false}},
                                             :template :token}}}}
