{ns hl7-fhir-r5-core.search.BiologicallyDerivedProduct-collector,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "BiologicallyDerivedProduct-collector",
         :fhir/url "http://hl7.org/fhir/SearchParameter/BiologicallyDerivedProduct-collector",
         :fhir/type "reference",
         :name "collector",
         :expr {:BiologicallyDerivedProduct {:knife [["collection"
                                                      "collector"]],
                                             :jsonpath ["$.\"collection\".\"collector\"[*]"],
                                             :data-types #{{:type "Reference",
                                                            :polymorphic? false}},
                                             :template :reference}}}}
