{ns hl7-fhir-r5-core.search.CanonicalResource-version,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "CanonicalResource-version",
         :fhir/url "http://hl7.org/fhir/SearchParameter/CanonicalResource-version",
         :fhir/type "token",
         :name "version",
         :expr {:MessageDefinition {:knife [["version"]],
                                    :jsonpath ["$.\"version\"[*]"],
                                    :data-types #{{:type "string",
                                                   :polymorphic? false}},
                                    :template :token},
                :Evidence {:knife [["version"]],
                           :jsonpath ["$.\"version\"[*]"],
                           :data-types #{{:type "string",
                                          :polymorphic? false}},
                           :template :token},
                :ConditionDefinition {:knife [["version"]],
                                      :jsonpath ["$.\"version\"[*]"],
                                      :data-types #{{:type "string",
                                                     :polymorphic? false}},
                                      :template :token},
                :CompartmentDefinition {:knife [["version"]],
                                        :jsonpath ["$.\"version\"[*]"],
                                        :data-types #{{:type "string",
                                                       :polymorphic? false}},
                                        :template :token},
                :EvidenceVariable {:knife [["version"]],
                                   :jsonpath ["$.\"version\"[*]"],
                                   :data-types #{{:type "string",
                                                  :polymorphic? false}},
                                   :template :token},
                :ImplementationGuide {:knife [["version"]],
                                      :jsonpath ["$.\"version\"[*]"],
                                      :data-types #{{:type "string",
                                                     :polymorphic? false}},
                                      :template :token},
                :SubscriptionTopic {:knife [["version"]],
                                    :jsonpath ["$.\"version\"[*]"],
                                    :data-types #{{:type "string",
                                                   :polymorphic? false}},
                                    :template :token},
                :CodeSystem {:knife [["version"]],
                             :jsonpath ["$.\"version\"[*]"],
                             :data-types #{{:type "string",
                                            :polymorphic? false}},
                             :template :token},
                :PlanDefinition {:knife [["version"]],
                                 :jsonpath ["$.\"version\"[*]"],
                                 :data-types #{{:type "string",
                                                :polymorphic? false}},
                                 :template :token},
                :StructureMap {:knife [["version"]],
                               :jsonpath ["$.\"version\"[*]"],
                               :data-types #{{:type "string",
                                              :polymorphic? false}},
                               :template :token},
                :Library {:knife [["version"]],
                          :jsonpath ["$.\"version\"[*]"],
                          :data-types #{{:type "string",
                                         :polymorphic? false}},
                          :template :token},
                :ActivityDefinition {:knife [["version"]],
                                     :jsonpath ["$.\"version\"[*]"],
                                     :data-types #{{:type "string",
                                                    :polymorphic? false}},
                                     :template :token},
                :Citation {:knife [["version"]],
                           :jsonpath ["$.\"version\"[*]"],
                           :data-types #{{:type "string",
                                          :polymorphic? false}},
                           :template :token},
                :ChargeItemDefinition {:knife [["version"]],
                                       :jsonpath ["$.\"version\"[*]"],
                                       :data-types #{{:type "string",
                                                      :polymorphic? false}},
                                       :template :token},
                :NamingSystem {:knife [["version"]],
                               :jsonpath ["$.\"version\"[*]"],
                               :data-types #{{:type "string",
                                              :polymorphic? false}},
                               :template :token},
                :Questionnaire {:knife [["version"]],
                                :jsonpath ["$.\"version\"[*]"],
                                :data-types #{{:type "string",
                                               :polymorphic? false}},
                                :template :token},
                :EventDefinition {:knife [["version"]],
                                  :jsonpath ["$.\"version\"[*]"],
                                  :data-types #{{:type "string",
                                                 :polymorphic? false}},
                                  :template :token},
                :ValueSet {:knife [["version"]],
                           :jsonpath ["$.\"version\"[*]"],
                           :data-types #{{:type "string",
                                          :polymorphic? false}},
                           :template :token},
                :ExampleScenario {:knife [["version"]],
                                  :jsonpath ["$.\"version\"[*]"],
                                  :data-types #{{:type "string",
                                                 :polymorphic? false}},
                                  :template :token},
                :Measure {:knife [["version"]],
                          :jsonpath ["$.\"version\"[*]"],
                          :data-types #{{:type "string",
                                         :polymorphic? false}},
                          :template :token},
                :CapabilityStatement {:knife [["version"]],
                                      :jsonpath ["$.\"version\"[*]"],
                                      :data-types #{{:type "string",
                                                     :polymorphic? false}},
                                      :template :token},
                :TestScript {:knife [["version"]],
                             :jsonpath ["$.\"version\"[*]"],
                             :data-types #{{:type "string",
                                            :polymorphic? false}},
                             :template :token},
                :ConceptMap {:knife [["version"]],
                             :jsonpath ["$.\"version\"[*]"],
                             :data-types #{{:type "string",
                                            :polymorphic? false}},
                             :template :token},
                :StructureDefinition {:knife [["version"]],
                                      :jsonpath ["$.\"version\"[*]"],
                                      :data-types #{{:type "string",
                                                     :polymorphic? false}},
                                      :template :token},
                :Requirements {:knife [["version"]],
                               :jsonpath ["$.\"version\"[*]"],
                               :data-types #{{:type "string",
                                              :polymorphic? false}},
                               :template :token},
                :ActorDefinition {:knife [["version"]],
                                  :jsonpath ["$.\"version\"[*]"],
                                  :data-types #{{:type "string",
                                                 :polymorphic? false}},
                                  :template :token},
                :SearchParameter {:knife [["version"]],
                                  :jsonpath ["$.\"version\"[*]"],
                                  :data-types #{{:type "string",
                                                 :polymorphic? false}},
                                  :template :token},
                :OperationDefinition {:knife [["version"]],
                                      :jsonpath ["$.\"version\"[*]"],
                                      :data-types #{{:type "string",
                                                     :polymorphic? false}},
                                      :template :token},
                :GraphDefinition {:knife [["version"]],
                                  :jsonpath ["$.\"version\"[*]"],
                                  :data-types #{{:type "string",
                                                 :polymorphic? false}},
                                  :template :token},
                :TerminologyCapabilities {:knife [["version"]],
                                          :jsonpath ["$.\"version\"[*]"],
                                          :data-types #{{:type "string",
                                                         :polymorphic? false}},
                                          :template :token}}}}
