{ns hl7-fhir-r5-core.search.CanonicalResource-url,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "CanonicalResource-url",
         :fhir/url "http://hl7.org/fhir/SearchParameter/CanonicalResource-url",
         :fhir/type "uri",
         :name "url",
         :expr {:MessageDefinition {:knife [["url"]],
                                    :jsonpath ["$.\"url\"[*]"],
                                    :data-types #{{:type "uri",
                                                   :polymorphic? false}},
                                    :template :uri},
                :TestPlan {:knife [["url"]],
                           :jsonpath ["$.\"url\"[*]"],
                           :data-types #{{:type "uri",
                                          :polymorphic? false}},
                           :template :uri},
                :Evidence {:knife [["url"]],
                           :jsonpath ["$.\"url\"[*]"],
                           :data-types #{{:type "uri",
                                          :polymorphic? false}},
                           :template :uri},
                :ConditionDefinition {:knife [["url"]],
                                      :jsonpath ["$.\"url\"[*]"],
                                      :data-types #{{:type "uri",
                                                     :polymorphic? false}},
                                      :template :uri},
                :CompartmentDefinition {:knife [["url"]],
                                        :jsonpath ["$.\"url\"[*]"],
                                        :data-types #{{:type "uri",
                                                       :polymorphic? false}},
                                        :template :uri},
                :EvidenceVariable {:knife [["url"]],
                                   :jsonpath ["$.\"url\"[*]"],
                                   :data-types #{{:type "uri",
                                                  :polymorphic? false}},
                                   :template :uri},
                :ImplementationGuide {:knife [["url"]],
                                      :jsonpath ["$.\"url\"[*]"],
                                      :data-types #{{:type "uri",
                                                     :polymorphic? false}},
                                      :template :uri},
                :SubscriptionTopic {:knife [["url"]],
                                    :jsonpath ["$.\"url\"[*]"],
                                    :data-types #{{:type "uri",
                                                   :polymorphic? false}},
                                    :template :uri},
                :CodeSystem {:knife [["url"]],
                             :jsonpath ["$.\"url\"[*]"],
                             :data-types #{{:type "uri",
                                            :polymorphic? false}},
                             :template :uri},
                :PlanDefinition {:knife [["url"]],
                                 :jsonpath ["$.\"url\"[*]"],
                                 :data-types #{{:type "uri",
                                                :polymorphic? false}},
                                 :template :uri},
                :StructureMap {:knife [["url"]],
                               :jsonpath ["$.\"url\"[*]"],
                               :data-types #{{:type "uri",
                                              :polymorphic? false}},
                               :template :uri},
                :Library {:knife [["url"]],
                          :jsonpath ["$.\"url\"[*]"],
                          :data-types #{{:type "uri",
                                         :polymorphic? false}},
                          :template :uri},
                :ActivityDefinition {:knife [["url"]],
                                     :jsonpath ["$.\"url\"[*]"],
                                     :data-types #{{:type "uri",
                                                    :polymorphic? false}},
                                     :template :uri},
                :Citation {:knife [["url"]],
                           :jsonpath ["$.\"url\"[*]"],
                           :data-types #{{:type "uri",
                                          :polymorphic? false}},
                           :template :uri},
                :EvidenceReport {:knife [["url"]],
                                 :jsonpath ["$.\"url\"[*]"],
                                 :data-types #{{:type "uri",
                                                :polymorphic? false}},
                                 :template :uri},
                :ChargeItemDefinition {:knife [["url"]],
                                       :jsonpath ["$.\"url\"[*]"],
                                       :data-types #{{:type "uri",
                                                      :polymorphic? false}},
                                       :template :uri},
                :NamingSystem {:knife [["url"]],
                               :jsonpath ["$.\"url\"[*]"],
                               :data-types #{{:type "uri",
                                              :polymorphic? false}},
                               :template :uri},
                :Questionnaire {:knife [["url"]],
                                :jsonpath ["$.\"url\"[*]"],
                                :data-types #{{:type "uri",
                                               :polymorphic? false}},
                                :template :uri},
                :EventDefinition {:knife [["url"]],
                                  :jsonpath ["$.\"url\"[*]"],
                                  :data-types #{{:type "uri",
                                                 :polymorphic? false}},
                                  :template :uri},
                :SpecimenDefinition {:knife [["url"]],
                                     :jsonpath ["$.\"url\"[*]"],
                                     :data-types #{{:type "uri",
                                                    :polymorphic? false}},
                                     :template :uri},
                :ValueSet {:knife [["url"]],
                           :jsonpath ["$.\"url\"[*]"],
                           :data-types #{{:type "uri",
                                          :polymorphic? false}},
                           :template :uri},
                :ExampleScenario {:knife [["url"]],
                                  :jsonpath ["$.\"url\"[*]"],
                                  :data-types #{{:type "uri",
                                                 :polymorphic? false}},
                                  :template :uri},
                :Measure {:knife [["url"]],
                          :jsonpath ["$.\"url\"[*]"],
                          :data-types #{{:type "uri",
                                         :polymorphic? false}},
                          :template :uri},
                :CapabilityStatement {:knife [["url"]],
                                      :jsonpath ["$.\"url\"[*]"],
                                      :data-types #{{:type "uri",
                                                     :polymorphic? false}},
                                      :template :uri},
                :TestScript {:knife [["url"]],
                             :jsonpath ["$.\"url\"[*]"],
                             :data-types #{{:type "uri",
                                            :polymorphic? false}},
                             :template :uri},
                :ConceptMap {:knife [["url"]],
                             :jsonpath ["$.\"url\"[*]"],
                             :data-types #{{:type "uri",
                                            :polymorphic? false}},
                             :template :uri},
                :StructureDefinition {:knife [["url"]],
                                      :jsonpath ["$.\"url\"[*]"],
                                      :data-types #{{:type "uri",
                                                     :polymorphic? false}},
                                      :template :uri},
                :ObservationDefinition {:knife [["url"]],
                                        :jsonpath ["$.\"url\"[*]"],
                                        :data-types #{{:type "uri",
                                                       :polymorphic? false}},
                                        :template :uri},
                :Requirements {:knife [["url"]],
                               :jsonpath ["$.\"url\"[*]"],
                               :data-types #{{:type "uri",
                                              :polymorphic? false}},
                               :template :uri},
                :ActorDefinition {:knife [["url"]],
                                  :jsonpath ["$.\"url\"[*]"],
                                  :data-types #{{:type "uri",
                                                 :polymorphic? false}},
                                  :template :uri},
                :SearchParameter {:knife [["url"]],
                                  :jsonpath ["$.\"url\"[*]"],
                                  :data-types #{{:type "uri",
                                                 :polymorphic? false}},
                                  :template :uri},
                :OperationDefinition {:knife [["url"]],
                                      :jsonpath ["$.\"url\"[*]"],
                                      :data-types #{{:type "uri",
                                                     :polymorphic? false}},
                                      :template :uri},
                :GraphDefinition {:knife [["url"]],
                                  :jsonpath ["$.\"url\"[*]"],
                                  :data-types #{{:type "uri",
                                                 :polymorphic? false}},
                                  :template :uri},
                :TerminologyCapabilities {:knife [["url"]],
                                          :jsonpath ["$.\"url\"[*]"],
                                          :data-types #{{:type "uri",
                                                         :polymorphic? false}},
                                          :template :uri}}}}
