{ns hl7-fhir-r5-core.search.CanonicalResource-context,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "CanonicalResource-context",
         :fhir/url "http://hl7.org/fhir/SearchParameter/CanonicalResource-context",
         :fhir/type "token",
         :name "context",
         :expr {:MessageDefinition {:knife [["useContext"
                                             "value"
                                             "CodeableConcept"]],
                                    :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                    :data-types #{},
                                    :template :token},
                :Evidence {:knife [["useContext"
                                    "value"
                                    "CodeableConcept"]],
                           :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                           :data-types #{},
                           :template :token},
                :ConditionDefinition {:knife [["useContext"
                                               "value"
                                               "CodeableConcept"]],
                                      :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                      :data-types #{},
                                      :template :token},
                :CompartmentDefinition {:knife [["useContext"
                                                 "value"
                                                 "CodeableConcept"]],
                                        :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                        :data-types #{},
                                        :template :token},
                :EvidenceVariable {:knife [["useContext"
                                            "value"
                                            "CodeableConcept"]],
                                   :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                   :data-types #{},
                                   :template :token},
                :ImplementationGuide {:knife [["useContext"
                                               "value"
                                               "CodeableConcept"]],
                                      :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                      :data-types #{},
                                      :template :token},
                :CodeSystem {:knife [["useContext"
                                      "value"
                                      "CodeableConcept"]],
                             :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                             :data-types #{},
                             :template :token},
                :PlanDefinition {:knife [["useContext"
                                          "value"
                                          "CodeableConcept"]],
                                 :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                 :data-types #{},
                                 :template :token},
                :StructureMap {:knife [["useContext"
                                        "value"
                                        "CodeableConcept"]],
                               :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                               :data-types #{},
                               :template :token},
                :Library {:knife [["useContext"
                                   "value"
                                   "CodeableConcept"]],
                          :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                          :data-types #{},
                          :template :token},
                :ActivityDefinition {:knife [["useContext"
                                              "value"
                                              "CodeableConcept"]],
                                     :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                     :data-types #{},
                                     :template :token},
                :Citation {:knife [["useContext"
                                    "value"
                                    "CodeableConcept"]],
                           :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                           :data-types #{},
                           :template :token},
                :EvidenceReport {:knife [["useContext"
                                          "value"
                                          "CodeableConcept"]],
                                 :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                 :data-types #{},
                                 :template :token},
                :ChargeItemDefinition {:knife [["useContext"
                                                "value"
                                                "CodeableConcept"]],
                                       :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                       :data-types #{},
                                       :template :token},
                :NamingSystem {:knife [["useContext"
                                        "value"
                                        "CodeableConcept"]],
                               :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                               :data-types #{},
                               :template :token},
                :Questionnaire {:knife [["useContext"
                                         "value"
                                         "CodeableConcept"]],
                                :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                :data-types #{},
                                :template :token},
                :EventDefinition {:knife [["useContext"
                                           "value"
                                           "CodeableConcept"]],
                                  :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                  :data-types #{},
                                  :template :token},
                :ValueSet {:knife [["useContext"
                                    "value"
                                    "CodeableConcept"]],
                           :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                           :data-types #{},
                           :template :token},
                :ExampleScenario {:knife [["useContext"
                                           "value"
                                           "CodeableConcept"]],
                                  :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                  :data-types #{},
                                  :template :token},
                :Measure {:knife [["useContext"
                                   "value"
                                   "CodeableConcept"]],
                          :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                          :data-types #{},
                          :template :token},
                :CapabilityStatement {:knife [["useContext"
                                               "value"
                                               "CodeableConcept"]],
                                      :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                      :data-types #{},
                                      :template :token},
                :TestScript {:knife [["useContext"
                                      "value"
                                      "CodeableConcept"]],
                             :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                             :data-types #{},
                             :template :token},
                :ConceptMap {:knife [["useContext"
                                      "value"
                                      "CodeableConcept"]],
                             :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                             :data-types #{},
                             :template :token},
                :StructureDefinition {:knife [["useContext"
                                               "value"
                                               "CodeableConcept"]],
                                      :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                      :data-types #{},
                                      :template :token},
                :Requirements {:knife [["useContext"
                                        "value"
                                        "CodeableConcept"]],
                               :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                               :data-types #{},
                               :template :token},
                :ActorDefinition {:knife [["useContext"
                                           "value"
                                           "CodeableConcept"]],
                                  :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                  :data-types #{},
                                  :template :token},
                :SearchParameter {:knife [["useContext"
                                           "value"
                                           "CodeableConcept"]],
                                  :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                  :data-types #{},
                                  :template :token},
                :OperationDefinition {:knife [["useContext"
                                               "value"
                                               "CodeableConcept"]],
                                      :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                      :data-types #{},
                                      :template :token},
                :GraphDefinition {:knife [["useContext"
                                           "value"
                                           "CodeableConcept"]],
                                  :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                  :data-types #{},
                                  :template :token},
                :TerminologyCapabilities {:knife [["useContext"
                                                   "value"
                                                   "CodeableConcept"]],
                                          :jsonpath ["$.\"useContext\".\"value\".\"CodeableConcept\"[*]"],
                                          :data-types #{},
                                          :template :token}}}}
