{ns hl7-fhir-r5-core.search.ChargeItem-status,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ChargeItem-status",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ChargeItem-status",
         :fhir/type "token",
         :name "status",
         :expr {:ChargeItem {:knife [["status"]],
                             :jsonpath ["$.\"status\"[*]"],
                             :data-types #{{:type "code",
                                            :polymorphic? false}},
                             :template :token}}}}
