{ns hl7-fhir-r5-core.search.clinical-type,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "clinical-type",
         :fhir/url "http://hl7.org/fhir/SearchParameter/clinical-type",
         :fhir/type "token",
         :name "type",
         :expr {:EpisodeOfCare {:knife [["type"]],
                                :jsonpath ["$.\"type\"[*]"],
                                :data-types #{{:type "CodeableConcept",
                                               :polymorphic? false}},
                                :template :token},
                :DocumentReference {:knife [["type"]],
                                    :jsonpath ["$.\"type\"[*]"],
                                    :data-types #{{:type "CodeableConcept",
                                                   :polymorphic? false}},
                                    :template :token},
                :Coverage {:knife [["type"]],
                           :jsonpath ["$.\"type\"[*]"],
                           :data-types #{{:type "CodeableConcept",
                                          :polymorphic? false}},
                           :template :token},
                :Invoice {:knife [["type"]],
                          :jsonpath ["$.\"type\"[*]"],
                          :data-types #{{:type "CodeableConcept",
                                         :polymorphic? false}},
                          :template :token},
                :Composition {:knife [["type"]],
                              :jsonpath ["$.\"type\"[*]"],
                              :data-types #{{:type "CodeableConcept",
                                             :polymorphic? false}},
                              :template :token},
                :MedicationDispense {:knife [["type"]],
                                     :jsonpath ["$.\"type\"[*]"],
                                     :data-types #{{:type "CodeableConcept",
                                                    :polymorphic? false}},
                                     :template :token},
                :MolecularSequence {:knife [["type"]],
                                    :jsonpath ["$.\"type\"[*]"],
                                    :data-types #{{:type "code",
                                                   :polymorphic? false}},
                                    :template :token},
                :Specimen {:knife [["type"]],
                           :jsonpath ["$.\"type\"[*]"],
                           :data-types #{{:type "CodeableConcept",
                                          :polymorphic? false}},
                           :template :token},
                :Account {:knife [["type"]],
                          :jsonpath ["$.\"type\"[*]"],
                          :data-types #{{:type "CodeableConcept",
                                         :polymorphic? false}},
                          :template :token},
                :Encounter {:knife [["type"]],
                            :jsonpath ["$.\"type\"[*]"],
                            :data-types #{{:type "CodeableConcept",
                                           :polymorphic? false}},
                            :template :token},
                :AllergyIntolerance {:knife [["type"]],
                                     :jsonpath ["$.\"type\"[*]"],
                                     :data-types #{{:type "CodeableConcept",
                                                    :polymorphic? false}},
                                     :template :token}}}}
