{ns hl7-fhir-r5-core.search.clinical-code,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "clinical-code",
         :fhir/url "http://hl7.org/fhir/SearchParameter/clinical-code",
         :fhir/type "token",
         :name "code",
         :expr {:DeviceRequest {:knife [["code" "concept"]],
                                :jsonpath ["$.\"code\".\"concept\"[*]"],
                                :data-types #{},
                                :template :token},
                :Observation {:knife [["code"]],
                              :jsonpath ["$.\"code\"[*]"],
                              :data-types #{{:type "CodeableConcept",
                                             :polymorphic? false}},
                              :template :token},
                :AdverseEvent {:knife [["code"]],
                               :jsonpath ["$.\"code\"[*]"],
                               :data-types #{{:type "CodeableConcept",
                                              :polymorphic? false}},
                               :template :token},
                :DetectedIssue {:knife [["code"]],
                                :jsonpath ["$.\"code\"[*]"],
                                :data-types #{{:type "CodeableConcept",
                                               :polymorphic? false}},
                                :template :token},
                :MedicationAdministration {:knife [["medication"
                                                    "concept"]],
                                           :jsonpath ["$.\"medication\".\"concept\"[*]"],
                                           :data-types #{},
                                           :template :token},
                :AuditEvent {:knife [["code"]],
                             :jsonpath ["$.\"code\"[*]"],
                             :data-types #{{:type "CodeableConcept",
                                            :polymorphic? false}},
                             :template :token},
                :ChargeItem {:knife [["code"]],
                             :jsonpath ["$.\"code\"[*]"],
                             :data-types #{{:type "CodeableConcept",
                                            :polymorphic? false}},
                             :template :token},
                :ImagingSelection {:knife [["status"]],
                                   :jsonpath ["$.\"status\"[*]"],
                                   :data-types #{{:type "code",
                                                  :polymorphic? false}},
                                   :template :token},
                :FamilyMemberHistory {:knife [["condition" "code"]],
                                      :jsonpath ["$.\"condition\".\"code\"[*]"],
                                      :data-types #{{:type "CodeableConcept",
                                                     :polymorphic? false}},
                                      :template :token},
                :RequestOrchestration {:knife [["code"]],
                                       :jsonpath ["$.\"code\"[*]"],
                                       :data-types #{{:type "CodeableConcept",
                                                      :polymorphic? false}},
                                       :template :token},
                :MedicationDispense {:knife [["medication" "concept"]],
                                     :jsonpath ["$.\"medication\".\"concept\"[*]"],
                                     :data-types #{},
                                     :template :token},
                :Basic {:knife [["code"]],
                        :jsonpath ["$.\"code\"[*]"],
                        :data-types #{{:type "CodeableConcept",
                                       :polymorphic? false}},
                        :template :token},
                :DiagnosticReport {:knife [["code"]],
                                   :jsonpath ["$.\"code\"[*]"],
                                   :data-types #{{:type "CodeableConcept",
                                                  :polymorphic? false}},
                                   :template :token},
                :MedicationStatement {:knife [["medication" "concept"]],
                                      :jsonpath ["$.\"medication\".\"concept\"[*]"],
                                      :data-types #{},
                                      :template :token},
                :NutritionIntake {:knife [["code"]],
                                  :jsonpath ["$.\"code\"[*]"],
                                  :data-types #{{:type "CodeableConcept",
                                                 :polymorphic? false}},
                                  :template :token},
                :Task {:knife [["code"]],
                       :jsonpath ["$.\"code\"[*]"],
                       :data-types #{{:type "CodeableConcept",
                                      :polymorphic? false}},
                       :template :token},
                :MedicationRequest {:knife [["medication" "concept"]],
                                    :jsonpath ["$.\"medication\".\"concept\"[*]"],
                                    :data-types #{},
                                    :template :token},
                :List {:knife [["code"]],
                       :jsonpath ["$.\"code\"[*]"],
                       :data-types #{{:type "CodeableConcept",
                                      :polymorphic? false}},
                       :template :token},
                :Medication {:knife [["code"]],
                             :jsonpath ["$.\"code\"[*]"],
                             :data-types #{{:type "CodeableConcept",
                                            :polymorphic? false}},
                             :template :token},
                :Condition {:knife [["code"]],
                            :jsonpath ["$.\"code\"[*]"],
                            :data-types #{{:type "CodeableConcept",
                                           :polymorphic? false}},
                            :template :token},
                :Procedure {:knife [["code"]],
                            :jsonpath ["$.\"code\"[*]"],
                            :data-types #{{:type "CodeableConcept",
                                           :polymorphic? false}},
                            :template :token},
                :AllergyIntolerance {:knife [["code"]
                                             ["reaction" "substance"]],
                                     :jsonpath ["$.\"code\"[*]"
                                                "$.\"reaction\".\"substance\"[*]"],
                                     :data-types #{{:type "CodeableConcept",
                                                    :polymorphic? false}},
                                     :template :token}}}}
