{ns hl7-fhir-r5-core.search.ClinicalUseDefinition-type,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ClinicalUseDefinition-type",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ClinicalUseDefinition-type",
         :fhir/type "token",
         :name "type",
         :expr {:ClinicalUseDefinition {:knife [["type"]],
                                        :jsonpath ["$.\"type\"[*]"],
                                        :data-types #{{:type "code",
                                                       :polymorphic? false}},
                                        :template :token}}}}
