{ns hl7-fhir-r5-core.search.ClinicalUseDefinition-indication-reference,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ClinicalUseDefinition-indication-reference",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ClinicalUseDefinition-indication-reference",
         :fhir/type "reference",
         :name "indication-reference",
         :expr {:ClinicalUseDefinition {:knife [["indication"
                                                 "diseaseSymptomProcedure"
                                                 "reference"]],
                                        :jsonpath ["$.\"indication\".\"diseaseSymptomProcedure\".\"reference\"[*]"],
                                        :data-types #{},
                                        :template :reference}}}}
