{ns hl7-fhir-r5-core.search.clinical-identifier,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "clinical-identifier",
         :fhir/url "http://hl7.org/fhir/SearchParameter/clinical-identifier",
         :fhir/type "token",
         :name "identifier",
         :expr {:DeviceRequest {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :ServiceRequest {:knife [["identifier"]],
                                 :jsonpath ["$.\"identifier\"[*]"],
                                 :data-types #{{:type "Identifier",
                                                :polymorphic? false}},
                                 :template :token},
                :CarePlan {:knife [["identifier"]],
                           :jsonpath ["$.\"identifier\"[*]"],
                           :data-types #{{:type "Identifier",
                                          :polymorphic? false}},
                           :template :token},
                :Observation {:knife [["identifier"]],
                              :jsonpath ["$.\"identifier\"[*]"],
                              :data-types #{{:type "Identifier",
                                             :polymorphic? false}},
                              :template :token},
                :EnrollmentRequest {:knife [["identifier"]],
                                    :jsonpath ["$.\"identifier\"[*]"],
                                    :data-types #{{:type "Identifier",
                                                   :polymorphic? false}},
                                    :template :token},
                :Appointment {:knife [["identifier"]],
                              :jsonpath ["$.\"identifier\"[*]"],
                              :data-types #{{:type "Identifier",
                                             :polymorphic? false}},
                              :template :token},
                :QuestionnaireResponse {:knife [["identifier"]],
                                        :jsonpath ["$.\"identifier\"[*]"],
                                        :data-types #{{:type "Identifier",
                                                       :polymorphic? false}},
                                        :template :token},
                :EpisodeOfCare {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :SupplyDelivery {:knife [["identifier"]],
                                 :jsonpath ["$.\"identifier\"[*]"],
                                 :data-types #{{:type "Identifier",
                                                :polymorphic? false}},
                                 :template :token},
                :AdverseEvent {:knife [["identifier"]],
                               :jsonpath ["$.\"identifier\"[*]"],
                               :data-types #{{:type "Identifier",
                                              :polymorphic? false}},
                               :template :token},
                :DetectedIssue {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :MedicationAdministration {:knife [["identifier"]],
                                           :jsonpath ["$.\"identifier\"[*]"],
                                           :data-types #{{:type "Identifier",
                                                          :polymorphic? false}},
                                           :template :token},
                :Goal {:knife [["identifier"]],
                       :jsonpath ["$.\"identifier\"[*]"],
                       :data-types #{{:type "Identifier",
                                      :polymorphic? false}},
                       :template :token},
                :Communication {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :DocumentReference {:knife [["identifier"]],
                                    :jsonpath ["$.\"identifier\"[*]"],
                                    :data-types #{{:type "Identifier",
                                                   :polymorphic? false}},
                                    :template :token},
                :Coverage {:knife [["identifier"]],
                           :jsonpath ["$.\"identifier\"[*]"],
                           :data-types #{{:type "Identifier",
                                          :polymorphic? false}},
                           :template :token},
                :Contract {:knife [["identifier"]],
                           :jsonpath ["$.\"identifier\"[*]"],
                           :data-types #{{:type "Identifier",
                                          :polymorphic? false}},
                           :template :token},
                :Invoice {:knife [["identifier"]],
                          :jsonpath ["$.\"identifier\"[*]"],
                          :data-types #{{:type "Identifier",
                                         :polymorphic? false}},
                          :template :token},
                :ClaimResponse {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :ChargeItem {:knife [["identifier"]],
                             :jsonpath ["$.\"identifier\"[*]"],
                             :data-types #{{:type "Identifier",
                                            :polymorphic? false}},
                             :template :token},
                :CoverageEligibilityResponse {:knife [["identifier"]],
                                              :jsonpath ["$.\"identifier\"[*]"],
                                              :data-types #{{:type "Identifier",
                                                             :polymorphic? false}},
                                              :template :token},
                :BodyStructure {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :ImagingSelection {:knife [["identifier"]],
                                   :jsonpath ["$.\"identifier\"[*]"],
                                   :data-types #{{:type "Identifier",
                                                  :polymorphic? false}},
                                   :template :token},
                :ClinicalImpression {:knife [["identifier"]],
                                     :jsonpath ["$.\"identifier\"[*]"],
                                     :data-types #{{:type "Identifier",
                                                    :polymorphic? false}},
                                     :template :token},
                :FamilyMemberHistory {:knife [["identifier"]],
                                      :jsonpath ["$.\"identifier\"[*]"],
                                      :data-types #{{:type "Identifier",
                                                     :polymorphic? false}},
                                      :template :token},
                :Composition {:knife [["identifier"]],
                              :jsonpath ["$.\"identifier\"[*]"],
                              :data-types #{{:type "Identifier",
                                             :polymorphic? false}},
                              :template :token},
                :RequestOrchestration {:knife [["identifier"]],
                                       :jsonpath ["$.\"identifier\"[*]"],
                                       :data-types #{{:type "Identifier",
                                                      :polymorphic? false}},
                                       :template :token},
                :MedicationDispense {:knife [["identifier"]],
                                     :jsonpath ["$.\"identifier\"[*]"],
                                     :data-types #{{:type "Identifier",
                                                    :polymorphic? false}},
                                     :template :token},
                :ImmunizationEvaluation {:knife [["identifier"]],
                                         :jsonpath ["$.\"identifier\"[*]"],
                                         :data-types #{{:type "Identifier",
                                                        :polymorphic? false}},
                                         :template :token},
                :Basic {:knife [["identifier"]],
                        :jsonpath ["$.\"identifier\"[*]"],
                        :data-types #{{:type "Identifier",
                                       :polymorphic? false}},
                        :template :token},
                :MolecularSequence {:knife [["identifier"]],
                                    :jsonpath ["$.\"identifier\"[*]"],
                                    :data-types #{{:type "Identifier",
                                                   :polymorphic? false}},
                                    :template :token},
                :Specimen {:knife [["identifier"]],
                           :jsonpath ["$.\"identifier\"[*]"],
                           :data-types #{{:type "Identifier",
                                          :polymorphic? false}},
                           :template :token},
                :DiagnosticReport {:knife [["identifier"]],
                                   :jsonpath ["$.\"identifier\"[*]"],
                                   :data-types #{{:type "Identifier",
                                                  :polymorphic? false}},
                                   :template :token},
                :Flag {:knife [["identifier"]],
                       :jsonpath ["$.\"identifier\"[*]"],
                       :data-types #{{:type "Identifier",
                                      :polymorphic? false}},
                       :template :token},
                :ExplanationOfBenefit {:knife [["identifier"]],
                                       :jsonpath ["$.\"identifier\"[*]"],
                                       :data-types #{{:type "Identifier",
                                                      :polymorphic? false}},
                                       :template :token},
                :Immunization {:knife [["identifier"]],
                               :jsonpath ["$.\"identifier\"[*]"],
                               :data-types #{{:type "Identifier",
                                              :polymorphic? false}},
                               :template :token},
                :ResearchSubject {:knife [["identifier"]],
                                  :jsonpath ["$.\"identifier\"[*]"],
                                  :data-types #{{:type "Identifier",
                                                 :polymorphic? false}},
                                  :template :token},
                :MedicationStatement {:knife [["identifier"]],
                                      :jsonpath ["$.\"identifier\"[*]"],
                                      :data-types #{{:type "Identifier",
                                                     :polymorphic? false}},
                                      :template :token},
                :NutritionOrder {:knife [["identifier"]],
                                 :jsonpath ["$.\"identifier\"[*]"],
                                 :data-types #{{:type "Identifier",
                                                :polymorphic? false}},
                                 :template :token},
                :Account {:knife [["identifier"]],
                          :jsonpath ["$.\"identifier\"[*]"],
                          :data-types #{{:type "Identifier",
                                         :polymorphic? false}},
                          :template :token},
                :CommunicationRequest {:knife [["identifier"]],
                                       :jsonpath ["$.\"identifier\"[*]"],
                                       :data-types #{{:type "Identifier",
                                                      :polymorphic? false}},
                                       :template :token},
                :NutritionIntake {:knife [["identifier"]],
                                  :jsonpath ["$.\"identifier\"[*]"],
                                  :data-types #{{:type "Identifier",
                                                 :polymorphic? false}},
                                  :template :token},
                :Task {:knife [["identifier"]],
                       :jsonpath ["$.\"identifier\"[*]"],
                       :data-types #{{:type "Identifier",
                                      :polymorphic? false}},
                       :template :token},
                :Claim {:knife [["identifier"]],
                        :jsonpath ["$.\"identifier\"[*]"],
                        :data-types #{{:type "Identifier",
                                       :polymorphic? false}},
                        :template :token},
                :DeviceUsage {:knife [["identifier"]],
                              :jsonpath ["$.\"identifier\"[*]"],
                              :data-types #{{:type "Identifier",
                                             :polymorphic? false}},
                              :template :token},
                :MedicationRequest {:knife [["identifier"]],
                                    :jsonpath ["$.\"identifier\"[*]"],
                                    :data-types #{{:type "Identifier",
                                                   :polymorphic? false}},
                                    :template :token},
                :List {:knife [["identifier"]],
                       :jsonpath ["$.\"identifier\"[*]"],
                       :data-types #{{:type "Identifier",
                                      :polymorphic? false}},
                       :template :token},
                :Encounter {:knife [["identifier"]],
                            :jsonpath ["$.\"identifier\"[*]"],
                            :data-types #{{:type "Identifier",
                                           :polymorphic? false}},
                            :template :token},
                :VisionPrescription {:knife [["identifier"]],
                                     :jsonpath ["$.\"identifier\"[*]"],
                                     :data-types #{{:type "Identifier",
                                                    :polymorphic? false}},
                                     :template :token},
                :RiskAssessment {:knife [["identifier"]],
                                 :jsonpath ["$.\"identifier\"[*]"],
                                 :data-types #{{:type "Identifier",
                                                :polymorphic? false}},
                                 :template :token},
                :ImmunizationRecommendation {:knife [["identifier"]],
                                             :jsonpath ["$.\"identifier\"[*]"],
                                             :data-types #{{:type "Identifier",
                                                            :polymorphic? false}},
                                             :template :token},
                :RelatedPerson {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :Medication {:knife [["identifier"]],
                             :jsonpath ["$.\"identifier\"[*]"],
                             :data-types #{{:type "Identifier",
                                            :polymorphic? false}},
                             :template :token},
                :AppointmentResponse {:knife [["identifier"]],
                                      :jsonpath ["$.\"identifier\"[*]"],
                                      :data-types #{{:type "Identifier",
                                                     :polymorphic? false}},
                                      :template :token},
                :Person {:knife [["identifier"]],
                         :jsonpath ["$.\"identifier\"[*]"],
                         :data-types #{{:type "Identifier",
                                        :polymorphic? false}},
                         :template :token},
                :Condition {:knife [["identifier"]],
                            :jsonpath ["$.\"identifier\"[*]"],
                            :data-types #{{:type "Identifier",
                                           :polymorphic? false}},
                            :template :token},
                :CareTeam {:knife [["identifier"]],
                           :jsonpath ["$.\"identifier\"[*]"],
                           :data-types #{{:type "Identifier",
                                          :polymorphic? false}},
                           :template :token},
                :Procedure {:knife [["identifier"]],
                            :jsonpath ["$.\"identifier\"[*]"],
                            :data-types #{{:type "Identifier",
                                           :polymorphic? false}},
                            :template :token},
                :Consent {:knife [["identifier"]],
                          :jsonpath ["$.\"identifier\"[*]"],
                          :data-types #{{:type "Identifier",
                                         :polymorphic? false}},
                          :template :token},
                :SupplyRequest {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token},
                :AllergyIntolerance {:knife [["identifier"]],
                                     :jsonpath ["$.\"identifier\"[*]"],
                                     :data-types #{{:type "Identifier",
                                                    :polymorphic? false}},
                                     :template :token},
                :ImagingStudy {:knife [["identifier"]],
                               :jsonpath ["$.\"identifier\"[*]"],
                               :data-types #{{:type "Identifier",
                                              :polymorphic? false}},
                               :template :token},
                :CoverageEligibilityRequest {:knife [["identifier"]],
                                             :jsonpath ["$.\"identifier\"[*]"],
                                             :data-types #{{:type "Identifier",
                                                            :polymorphic? false}},
                                             :template :token},
                :GuidanceResponse {:knife [["identifier"]],
                                   :jsonpath ["$.\"identifier\"[*]"],
                                   :data-types #{{:type "Identifier",
                                                  :polymorphic? false}},
                                   :template :token},
                :MeasureReport {:knife [["identifier"]],
                                :jsonpath ["$.\"identifier\"[*]"],
                                :data-types #{{:type "Identifier",
                                               :polymorphic? false}},
                                :template :token}}}}
