{ns hl7-fhir-r5-core.search.clinical-encounter,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "clinical-encounter",
         :fhir/url "http://hl7.org/fhir/SearchParameter/clinical-encounter",
         :fhir/type "reference",
         :name "encounter",
         :expr {:DeviceRequest {:knife [["encounter"]],
                                :jsonpath ["$.\"encounter\"[*]"],
                                :data-types #{{:type "Reference",
                                               :polymorphic? false}},
                                :template :reference},
                :ServiceRequest {:knife [["encounter"]],
                                 :jsonpath ["$.\"encounter\"[*]"],
                                 :data-types #{{:type "Reference",
                                                :polymorphic? false}},
                                 :template :reference},
                :CarePlan {:knife [["encounter"]],
                           :jsonpath ["$.\"encounter\"[*]"],
                           :data-types #{{:type "Reference",
                                          :polymorphic? false}},
                           :template :reference},
                :Observation {:knife [["encounter"]],
                              :jsonpath ["$.\"encounter\"[*]"],
                              :data-types #{{:type "Reference",
                                             :polymorphic? false}},
                              :template :reference},
                :EncounterHistory {:knife [["encounter"]],
                                   :jsonpath ["$.\"encounter\"[*]"],
                                   :data-types #{{:type "Reference",
                                                  :polymorphic? false}},
                                   :template :reference},
                :QuestionnaireResponse {:knife [["encounter"]],
                                        :jsonpath ["$.\"encounter\"[*]"],
                                        :data-types #{{:type "Reference",
                                                       :polymorphic? false}},
                                        :template :reference},
                :Communication {:knife [["encounter"]],
                                :jsonpath ["$.\"encounter\"[*]"],
                                :data-types #{{:type "Reference",
                                               :polymorphic? false}},
                                :template :reference},
                :AuditEvent {:knife [["encounter"]],
                             :jsonpath ["$.\"encounter\"[*]"],
                             :data-types #{{:type "Reference",
                                            :polymorphic? false}},
                             :template :reference},
                :ChargeItem {:knife [["encounter"]],
                             :jsonpath ["$.\"encounter\"[*]"],
                             :data-types #{{:type "Reference",
                                            :polymorphic? false}},
                             :template :reference},
                :ClinicalImpression {:knife [["encounter"]],
                                     :jsonpath ["$.\"encounter\"[*]"],
                                     :data-types #{{:type "Reference",
                                                    :polymorphic? false}},
                                     :template :reference},
                :Composition {:knife [["encounter"]],
                              :jsonpath ["$.\"encounter\"[*]"],
                              :data-types #{{:type "Reference",
                                             :polymorphic? false}},
                              :template :reference},
                :RequestOrchestration {:knife [["encounter"]],
                                       :jsonpath ["$.\"encounter\"[*]"],
                                       :data-types #{{:type "Reference",
                                                      :polymorphic? false}},
                                       :template :reference},
                :MedicationDispense {:knife [["encounter"]],
                                     :jsonpath ["$.\"encounter\"[*]"],
                                     :data-types #{{:type "Reference",
                                                    :polymorphic? false}},
                                     :template :reference},
                :DiagnosticReport {:knife [["encounter"]],
                                   :jsonpath ["$.\"encounter\"[*]"],
                                   :data-types #{{:type "Reference",
                                                  :polymorphic? false}},
                                   :template :reference},
                :Provenance {:knife [["encounter"]],
                             :jsonpath ["$.\"encounter\"[*]"],
                             :data-types #{{:type "Reference",
                                            :polymorphic? false}},
                             :template :reference},
                :Flag {:knife [["encounter"]],
                       :jsonpath ["$.\"encounter\"[*]"],
                       :data-types #{{:type "Reference",
                                      :polymorphic? false}},
                       :template :reference},
                :ExplanationOfBenefit {:knife [["item" "encounter"]],
                                       :jsonpath ["$.\"item\".\"encounter\"[*]"],
                                       :data-types #{{:type "Reference",
                                                      :polymorphic? false}},
                                       :template :reference},
                :MedicationStatement {:knife [["encounter"]],
                                      :jsonpath ["$.\"encounter\"[*]"],
                                      :data-types #{{:type "Reference",
                                                     :polymorphic? false}},
                                      :template :reference},
                :NutritionOrder {:knife [["encounter"]],
                                 :jsonpath ["$.\"encounter\"[*]"],
                                 :data-types #{{:type "Reference",
                                                :polymorphic? false}},
                                 :template :reference},
                :CommunicationRequest {:knife [["encounter"]],
                                       :jsonpath ["$.\"encounter\"[*]"],
                                       :data-types #{{:type "Reference",
                                                      :polymorphic? false}},
                                       :template :reference},
                :NutritionIntake {:knife [["encounter"]],
                                  :jsonpath ["$.\"encounter\"[*]"],
                                  :data-types #{{:type "Reference",
                                                 :polymorphic? false}},
                                  :template :reference},
                :Task {:knife [["encounter"]],
                       :jsonpath ["$.\"encounter\"[*]"],
                       :data-types #{{:type "Reference",
                                      :polymorphic? false}},
                       :template :reference},
                :Claim {:knife [["item" "encounter"]],
                        :jsonpath ["$.\"item\".\"encounter\"[*]"],
                        :data-types #{{:type "Reference",
                                       :polymorphic? false}},
                        :template :reference},
                :List {:knife [["encounter"]],
                       :jsonpath ["$.\"encounter\"[*]"],
                       :data-types #{{:type "Reference",
                                      :polymorphic? false}},
                       :template :reference},
                :VisionPrescription {:knife [["encounter"]],
                                     :jsonpath ["$.\"encounter\"[*]"],
                                     :data-types #{{:type "Reference",
                                                    :polymorphic? false}},
                                     :template :reference},
                :RiskAssessment {:knife [["encounter"]],
                                 :jsonpath ["$.\"encounter\"[*]"],
                                 :data-types #{{:type "Reference",
                                                :polymorphic? false}},
                                 :template :reference},
                :Condition {:knife [["encounter"]],
                            :jsonpath ["$.\"encounter\"[*]"],
                            :data-types #{{:type "Reference",
                                           :polymorphic? false}},
                            :template :reference},
                :Procedure {:knife [["encounter"]],
                            :jsonpath ["$.\"encounter\"[*]"],
                            :data-types #{{:type "Reference",
                                           :polymorphic? false}},
                            :template :reference},
                :ImagingStudy {:knife [["encounter"]],
                               :jsonpath ["$.\"encounter\"[*]"],
                               :data-types #{{:type "Reference",
                                              :polymorphic? false}},
                               :template :reference}}}}
