{ns hl7-fhir-r5-core.search.ClinicalUseDefinition-effect,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ClinicalUseDefinition-effect",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ClinicalUseDefinition-effect",
         :fhir/type "token",
         :name "effect",
         :expr {:ClinicalUseDefinition {:knife [["undesirableEffect"
                                                 "symptomConditionEffect"
                                                 "concept"]],
                                        :jsonpath ["$.\"undesirableEffect\".\"symptomConditionEffect\".\"concept\"[*]"],
                                        :data-types #{},
                                        :template :token}}}}
