{ns hl7-fhir-r5-core.search.Consent-grantee,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Consent-grantee",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Consent-grantee",
         :fhir/type "reference",
         :name "grantee",
         :expr {:Consent {:knife [["grantee"]],
                          :jsonpath ["$.\"grantee\"[*]"],
                          :data-types #{{:type "Reference",
                                         :polymorphic? false}},
                          :template :reference}}}}
