{ns hl7-fhir-r5-core.search.Device-specification,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Device-specification",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Device-specification",
         :fhir/type "token",
         :name "specification",
         :expr {:Device {:knife [["conformsTo" "specification"]],
                         :jsonpath ["$.\"conformsTo\".\"specification\"[*]"],
                         :data-types #{{:type "CodeableConcept",
                                        :polymorphic? false}},
                         :template :token}}}}
