{ns hl7-fhir-r5-core.search.DeviceAssociation-patient,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "DeviceAssociation-patient",
         :fhir/url "http://hl7.org/fhir/SearchParameter/DeviceAssociation-patient",
         :fhir/type "reference",
         :name "patient",
         :expr {:DeviceAssociation {:knife [["subject"
                                             {:resourceType "Patient"}]],
                                    :jsonpath ["$.\"subject\"?(@.\"resourceType\"==\"Patient\")[*]"],
                                    :data-types #{{:type "Reference",
                                                   :polymorphic? false}},
                                    :template :reference}}}}
