{ns hl7-fhir-r5-core.search.DiagnosticReport-study,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "DiagnosticReport-study",
         :fhir/url "http://hl7.org/fhir/SearchParameter/DiagnosticReport-study",
         :fhir/type "reference",
         :name "study",
         :expr {:DiagnosticReport {:knife [["study"]],
                                   :jsonpath ["$.\"study\"[*]"],
                                   :data-types #{{:type "Reference",
                                                  :polymorphic? false}},
                                   :template :reference}}}}
