{ns hl7-fhir-r5-core.search.DocumentReference-format-uri,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "DocumentReference-format-uri",
         :fhir/url "http://hl7.org/fhir/SearchParameter/DocumentReference-format-uri",
         :fhir/type "uri",
         :name "format-uri",
         :expr {:DocumentReference {:knife [["content"
                                             "profile"
                                             "value"
                                             "uri"]],
                                    :jsonpath ["$.\"content\".\"profile\".\"value\".\"uri\"[*]"],
                                    :data-types #{{:type "uri",
                                                   :polymorphic? false}},
                                    :template :uri}}}}
