{ns hl7-fhir-r5-core.search.DocumentReference-relation,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "DocumentReference-relation",
         :fhir/url "http://hl7.org/fhir/SearchParameter/DocumentReference-relation",
         :fhir/type "token",
         :name "relation",
         :expr {:DocumentReference {:knife [["relatesTo" "code"]],
                                    :jsonpath ["$.\"relatesTo\".\"code\"[*]"],
                                    :data-types #{{:type "CodeableConcept",
                                                   :polymorphic? false}},
                                    :template :token}}}}
