{ns hl7-fhir-r5-core.search.DocumentReference-setting,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "DocumentReference-setting",
         :fhir/url "http://hl7.org/fhir/SearchParameter/DocumentReference-setting",
         :fhir/type "token",
         :name "setting",
         :expr {:DocumentReference {:knife [["practiceSetting"]],
                                    :jsonpath ["$.\"practiceSetting\"[*]"],
                                    :data-types #{{:type "CodeableConcept",
                                                   :polymorphic? false}},
                                    :template :token}}}}
