{ns hl7-fhir-r5-core.search.DocumentReference-format-code,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "DocumentReference-format-code",
         :fhir/url "http://hl7.org/fhir/SearchParameter/DocumentReference-format-code",
         :fhir/type "token",
         :name "format-code",
         :expr {:DocumentReference {:knife [["content"
                                             "profile"
                                             "value"
                                             "Coding"]],
                                    :jsonpath ["$.\"content\".\"profile\".\"value\".\"Coding\"[*]"],
                                    :data-types #{{:type "Coding",
                                                   :polymorphic? false}},
                                    :template :token}}}}
