{ns hl7-fhir-r5-core.search.Encounter-diagnosis-reference,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Encounter-diagnosis-reference",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Encounter-diagnosis-reference",
         :fhir/type "reference",
         :name "diagnosis-reference",
         :expr {:Encounter {:knife [["diagnosis"
                                     "condition"
                                     "reference"]],
                            :jsonpath ["$.\"diagnosis\".\"condition\".\"reference\"[*]"],
                            :data-types #{},
                            :template :reference}}}}
