{ns hl7-fhir-r5-core.search.Encounter-class,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Encounter-class",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Encounter-class",
         :fhir/type "token",
         :name "class",
         :expr {:Encounter {:knife [["class"]],
                            :jsonpath ["$.\"class\"[*]"],
                            :data-types #{{:type "CodeableConcept",
                                           :polymorphic? false}},
                            :template :token}}}}
