{ns hl7-fhir-r5-core.search.Encounter-reason-reference,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Encounter-reason-reference",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Encounter-reason-reference",
         :fhir/type "reference",
         :name "reason-reference",
         :expr {:Encounter {:knife [["reason" "value" "reference"]],
                            :jsonpath ["$.\"reason\".\"value\".\"reference\"[*]"],
                            :data-types #{},
                            :template :reference}}}}
