{ns hl7-fhir-r5-core.search.EncounterHistory-identifier,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "EncounterHistory-identifier",
         :fhir/url "http://hl7.org/fhir/SearchParameter/EncounterHistory-identifier",
         :fhir/type "token",
         :name "identifier",
         :expr {:EncounterHistory {:knife [["identifier"]],
                                   :jsonpath ["$.\"identifier\"[*]"],
                                   :data-types #{{:type "Identifier",
                                                  :polymorphic? false}},
                                   :template :token}}}}
