{ns hl7-fhir-r5-core.search.EncounterHistory-patient,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "EncounterHistory-patient",
         :fhir/url "http://hl7.org/fhir/SearchParameter/EncounterHistory-patient",
         :fhir/type "reference",
         :name "patient",
         :expr {:EncounterHistory {:knife [["subject"
                                            {:resourceType "Patient"}]],
                                   :jsonpath ["$.\"subject\"?(@.\"resourceType\"==\"Patient\")[*]"],
                                   :data-types #{{:type "Reference",
                                                  :polymorphic? false}},
                                   :template :reference}}}}
