{ns hl7-fhir-r5-core.search.GenomicStudy-identifier,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "GenomicStudy-identifier",
         :fhir/url "http://hl7.org/fhir/SearchParameter/GenomicStudy-identifier",
         :fhir/type "token",
         :name "identifier",
         :expr {:GenomicStudy {:knife [["identifier"]],
                               :jsonpath ["$.\"identifier\"[*]"],
                               :data-types #{{:type "Identifier",
                                              :polymorphic? false}},
                               :template :token}}}}
