{ns hl7-fhir-r5-core.search.Group-name,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Group-name",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Group-name",
         :fhir/type "string",
         :name "name",
         :expr {:Group {:knife [["name"]],
                        :jsonpath ["$.\"name\"[*]"],
                        :data-types #{{:type "string",
                                       :polymorphic? false}},
                        :template :string,
                        :sql {:where [:or
                                      [:ilike
                                       [:pg/cast
                                        [:pg/jsonb-path-query-array
                                         [:pg/sql
                                          "{{table}}.resource"]
                                         [:pg/cast
                                          "($.\"name\"[*]).** ? (@.type() == \"string\")"
                                          :jsonpath]]
                                        :text]
                                       [:pg/sql "{{param}}"]]],
                              :parameter-format "%\"?%"}}}}}
