{ns hl7-fhir-r5-core.search.ImagingSelection-based-on,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ImagingSelection-based-on",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ImagingSelection-based-on",
         :fhir/type "reference",
         :name "based-on",
         :expr {:ImagingSelection {:knife [["basedOn"]],
                                   :jsonpath ["$.\"basedOn\"[*]"],
                                   :data-types #{{:type "Reference",
                                                  :polymorphic? false}},
                                   :template :reference}}}}
