{ns hl7-fhir-r5-core.search.ImagingSelection-subject,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ImagingSelection-subject",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ImagingSelection-subject",
         :fhir/type "reference",
         :name "subject",
         :expr {:ImagingSelection {:knife [["subject"]],
                                   :jsonpath ["$.\"subject\"[*]"],
                                   :data-types #{{:type "Reference",
                                                  :polymorphic? false}},
                                   :template :reference}}}}
