{ns hl7-fhir-r5-core.search.individual-phone,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "individual-phone",
         :fhir/url "http://hl7.org/fhir/SearchParameter/individual-phone",
         :fhir/type "token",
         :name "phone",
         :expr {:Patient {:knife [["telecom" {:system "phone"}]],
                          :jsonpath ["$.\"telecom\"?(@.\"system\"==\"phone\")[*]"],
                          :data-types #{{:type "ContactPoint",
                                         :polymorphic? false}},
                          :template :token},
                :Person {:knife [["telecom" {:system "phone"}]],
                         :jsonpath ["$.\"telecom\"?(@.\"system\"==\"phone\")[*]"],
                         :data-types #{{:type "ContactPoint",
                                        :polymorphic? false}},
                         :template :token},
                :Practitioner {:knife [["telecom" {:system "phone"}]],
                               :jsonpath ["$.\"telecom\"?(@.\"system\"==\"phone\")[*]"],
                               :data-types #{{:type "ContactPoint",
                                              :polymorphic? false}},
                               :template :token},
                :PractitionerRole {:knife [["contact"
                                            "telecom"
                                            {:system "phone"}]],
                                   :jsonpath ["$.\"contact\".\"telecom\"?(@.\"system\"==\"phone\")[*]"],
                                   :data-types #{},
                                   :template :token},
                :RelatedPerson {:knife [["telecom" {:system "phone"}]],
                                :jsonpath ["$.\"telecom\"?(@.\"system\"==\"phone\")[*]"],
                                :data-types #{{:type "ContactPoint",
                                               :polymorphic? false}},
                                :template :token}}}}
