{ns hl7-fhir-r5-core.search.InventoryItem-status,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "InventoryItem-status",
         :fhir/url "http://hl7.org/fhir/SearchParameter/InventoryItem-status",
         :fhir/type "token",
         :name "status",
         :expr {:InventoryItem {:knife [["status"]],
                                :jsonpath ["$.\"status\"[*]"],
                                :data-types #{{:type "code",
                                               :polymorphic? false}},
                                :template :token}}}}
