{ns hl7-fhir-r5-core.search.InventoryItem-code,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "InventoryItem-code",
         :fhir/url "http://hl7.org/fhir/SearchParameter/InventoryItem-code",
         :fhir/type "token",
         :name "code",
         :expr {:InventoryItem {:knife [["code"]],
                                :jsonpath ["$.\"code\"[*]"],
                                :data-types #{{:type "CodeableConcept",
                                               :polymorphic? false}},
                                :template :token}}}}
