{ns hl7-fhir-r5-core.search.MedicinalProductDefinition-status,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "MedicinalProductDefinition-status",
         :fhir/url "http://hl7.org/fhir/SearchParameter/MedicinalProductDefinition-status",
         :fhir/type "token",
         :name "status",
         :expr {:MedicinalProductDefinition {:knife [["status"]],
                                             :jsonpath ["$.\"status\"[*]"],
                                             :data-types #{{:type "CodeableConcept",
                                                            :polymorphic? false}},
                                             :template :token}}}}
