{ns hl7-fhir-r5-core.search.medications-date,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "medications-date",
         :fhir/url "http://hl7.org/fhir/SearchParameter/medications-date",
         :fhir/type "date",
         :name "date",
         :expr {:MedicationAdministration {:knife [["occurence"
                                                    "dateTime"]
                                                   ["occurence"
                                                    "Period"]],
                                           :jsonpath ["$.\"occurence\".\"dateTime\"[*]"
                                                      "$.\"occurence\".\"Period\"[*]"],
                                           :data-types #{{:type "Period",
                                                          :polymorphic? false}
                                                         {:type "dateTime",
                                                          :polymorphic? false}},
                                           :template :date,
                                           :sql {:where [:or
                                                         [:or
                                                          [:and
                                                           [:>=
                                                            [:pg/call
                                                             :max_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_max_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"dateTime\"[*].start"]]
                                                           [:<=
                                                            [:pg/call
                                                             :min_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_min_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"dateTime\"[*].end"]]]
                                                          [:and
                                                           [:>=
                                                            [:pg/call
                                                             :max_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_max_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"dateTime\"[*].start"]]
                                                           [:is
                                                            [:pg/call
                                                             :jsonpath_extract_max_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"dateTime\"[*].end"]
                                                            nil]]
                                                          [:and
                                                           [:<=
                                                            [:pg/call
                                                             :min_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_min_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"dateTime\"[*].end"]]
                                                           [:is
                                                            [:pg/call
                                                             :jsonpath_extract_min_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"dateTime\"[*].start"]
                                                            nil]]]
                                                         [:or
                                                          [:and
                                                           [:>=
                                                            [:pg/call
                                                             :max_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_max_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"Period\"[*].start"]]
                                                           [:<=
                                                            [:pg/call
                                                             :min_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_min_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"Period\"[*].end"]]]
                                                          [:and
                                                           [:>=
                                                            [:pg/call
                                                             :max_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_max_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"Period\"[*].start"]]
                                                           [:is
                                                            [:pg/call
                                                             :jsonpath_extract_max_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"Period\"[*].end"]
                                                            nil]]
                                                          [:and
                                                           [:<=
                                                            [:pg/call
                                                             :min_text_date_bound
                                                             [:pg/sql
                                                              "{{param}}"]]
                                                            [:pg/call
                                                             :jsonpath_extract_min_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"Period\"[*].end"]]
                                                           [:is
                                                            [:pg/call
                                                             :jsonpath_extract_min_timestamptz
                                                             [:pg/sql
                                                              "{{table}}.resource"]
                                                             "$.\"occurence\".\"Period\"[*].start"]
                                                            nil]]]
                                                         [:and
                                                          [:>=
                                                           [:pg/call
                                                            :max_text_date_bound
                                                            [:pg/sql
                                                             "{{param}}"]]
                                                           [:pg/call
                                                            :jsonpath_extract_max_timestamptz
                                                            [:pg/sql
                                                             "{{table}}.resource"]
                                                            "$.\"occurence\".\"dateTime\"[*]"]]
                                                          [:<=
                                                           [:pg/call
                                                            :min_text_date_bound
                                                            [:pg/sql
                                                             "{{param}}"]]
                                                           [:pg/call
                                                            :jsonpath_extract_min_timestamptz
                                                            [:pg/sql
                                                             "{{table}}.resource"]
                                                            "$.\"occurence\".\"dateTime\"[*]"]]]
                                                         [:and
                                                          [:>=
                                                           [:pg/call
                                                            :max_text_date_bound
                                                            [:pg/sql
                                                             "{{param}}"]]
                                                           [:pg/call
                                                            :jsonpath_extract_max_timestamptz
                                                            [:pg/sql
                                                             "{{table}}.resource"]
                                                            "$.\"occurence\".\"Period\"[*]"]]
                                                          [:<=
                                                           [:pg/call
                                                            :min_text_date_bound
                                                            [:pg/sql
                                                             "{{param}}"]]
                                                           [:pg/call
                                                            :jsonpath_extract_min_timestamptz
                                                            [:pg/sql
                                                             "{{table}}.resource"]
                                                            "$.\"occurence\".\"Period\"[*]"]]]]}}}}}
