{ns hl7-fhir-r5-core.search.MedicinalProductDefinition-domain,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "MedicinalProductDefinition-domain",
         :fhir/url "http://hl7.org/fhir/SearchParameter/MedicinalProductDefinition-domain",
         :fhir/type "token",
         :name "domain",
         :expr {:MedicinalProductDefinition {:knife [["domain"]],
                                             :jsonpath ["$.\"domain\"[*]"],
                                             :data-types #{{:type "CodeableConcept",
                                                            :polymorphic? false}},
                                             :template :token}}}}
