{ns hl7-fhir-r5-core.search.MedicinalProductDefinition-characteristic,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "MedicinalProductDefinition-characteristic",
         :fhir/url "http://hl7.org/fhir/SearchParameter/MedicinalProductDefinition-characteristic",
         :fhir/type "token",
         :name "characteristic",
         :expr {:MedicinalProductDefinition {:knife [["characteristic"
                                                      "value"
                                                      "Quantity"]
                                                     ["characteristic"
                                                      "value"
                                                      "CodeableConcept"]],
                                             :jsonpath ["$.\"characteristic\".\"value\".\"Quantity\"[*]"
                                                        "$.\"characteristic\".\"value\".\"CodeableConcept\"[*]"],
                                             :data-types #{{:type "Quantity",
                                                            :polymorphic? false}
                                                           {:type "CodeableConcept",
                                                            :polymorphic? false}},
                                             :template :token}}}}
