{ns hl7-fhir-r5-core.search.MetadataResource-topic,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "MetadataResource-topic",
         :fhir/url "http://hl7.org/fhir/SearchParameter/MetadataResource-topic",
         :fhir/type "token",
         :name "topic",
         :expr {:EvidenceVariable {:knife [],
                                   :jsonpath [],
                                   :data-types #{},
                                   :template :token},
                :CodeSystem {:knife [["topic"]],
                             :jsonpath ["$.\"topic\"[*]"],
                             :data-types #{{:type "CodeableConcept",
                                            :polymorphic? false}},
                             :template :token},
                :PlanDefinition {:knife [["topic"]],
                                 :jsonpath ["$.\"topic\"[*]"],
                                 :data-types #{{:type "CodeableConcept",
                                                :polymorphic? false}},
                                 :template :token},
                :Library {:knife [["topic"]],
                          :jsonpath ["$.\"topic\"[*]"],
                          :data-types #{{:type "CodeableConcept",
                                         :polymorphic? false}},
                          :template :token},
                :ActivityDefinition {:knife [["topic"]],
                                     :jsonpath ["$.\"topic\"[*]"],
                                     :data-types #{{:type "CodeableConcept",
                                                    :polymorphic? false}},
                                     :template :token},
                :NamingSystem {:knife [["topic"]],
                               :jsonpath ["$.\"topic\"[*]"],
                               :data-types #{{:type "CodeableConcept",
                                              :polymorphic? false}},
                               :template :token},
                :EventDefinition {:knife [["topic"]],
                                  :jsonpath ["$.\"topic\"[*]"],
                                  :data-types #{{:type "CodeableConcept",
                                                 :polymorphic? false}},
                                  :template :token},
                :ValueSet {:knife [["topic"]],
                           :jsonpath ["$.\"topic\"[*]"],
                           :data-types #{{:type "CodeableConcept",
                                          :polymorphic? false}},
                           :template :token},
                :Measure {:knife [["topic"]],
                          :jsonpath ["$.\"topic\"[*]"],
                          :data-types #{{:type "CodeableConcept",
                                         :polymorphic? false}},
                          :template :token},
                :ConceptMap {:knife [["topic"]],
                             :jsonpath ["$.\"topic\"[*]"],
                             :data-types #{{:type "CodeableConcept",
                                            :polymorphic? false}},
                             :template :token}}}}
