{ns hl7-fhir-r5-core.search.NutritionOrder-subject,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "NutritionOrder-subject",
         :fhir/url "http://hl7.org/fhir/SearchParameter/NutritionOrder-subject",
         :fhir/type "reference",
         :name "subject",
         :expr {:NutritionOrder {:knife [["subject"]],
                                 :jsonpath ["$.\"subject\"[*]"],
                                 :data-types #{{:type "Reference",
                                                :polymorphic? false}},
                                 :template :reference}}}}
