{ns hl7-fhir-r5-core.search.NutritionIntake-status,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "NutritionIntake-status",
         :fhir/url "http://hl7.org/fhir/SearchParameter/NutritionIntake-status",
         :fhir/type "token",
         :name "status",
         :expr {:NutritionIntake {:knife [["status"]],
                                  :jsonpath ["$.\"status\"[*]"],
                                  :data-types #{{:type "code",
                                                 :polymorphic? false}},
                                  :template :token}}}}
