{ns hl7-fhir-r5-core.search.Observation-component-value-reference,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Observation-component-value-reference",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Observation-component-value-reference",
         :fhir/type "reference",
         :name "component-value-reference",
         :expr {:Observation {:knife [["component"
                                       "value"
                                       "Reference"]],
                              :jsonpath ["$.\"component\".\"value\".\"Reference\"[*]"],
                              :data-types #{{:type "Reference",
                                             :polymorphic? false}},
                              :template :reference}}}}
