{ns hl7-fhir-r5-core.search.Observation-value-reference,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Observation-value-reference",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Observation-value-reference",
         :fhir/type "reference",
         :name "value-reference",
         :expr {:Observation {:knife [["value" "Reference"]],
                              :jsonpath ["$.\"value\".\"Reference\"[*]"],
                              :data-types #{{:type "Reference",
                                             :polymorphic? false}},
                              :template :reference}}}}
