{ns hl7-fhir-r5-core.search.ObservationDefinition-code,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ObservationDefinition-code",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ObservationDefinition-code",
         :fhir/type "token",
         :name "code",
         :expr {:ObservationDefinition {:knife [["code"]],
                                        :jsonpath ["$.\"code\"[*]"],
                                        :data-types #{{:type "CodeableConcept",
                                                       :polymorphic? false}},
                                        :template :token}}}}
