{ns hl7-fhir-r5-core.search.Observation-value-canonical,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Observation-value-canonical",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Observation-value-canonical",
         :fhir/type "uri",
         :name "value-canonical",
         :expr {:Observation {:knife [["value" "ofType(canonical"]],
                              :jsonpath ["$.\"value\".\"ofType(canonical\"[*]"],
                              :data-types #{},
                              :template :uri}}}}
