{ns hl7-fhir-r5-core.search.OrganizationAffiliation-email,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "OrganizationAffiliation-email",
         :fhir/url "http://hl7.org/fhir/SearchParameter/OrganizationAffiliation-email",
         :fhir/type "token",
         :name "email",
         :expr {:OrganizationAffiliation {:knife [["contact"
                                                   "telecom"
                                                   {:system "email"}]],
                                          :jsonpath ["$.\"contact\".\"telecom\"?(@.\"system\"==\"email\")[*]"],
                                          :data-types #{},
                                          :template :token}}}}
