{ns hl7-fhir-r5-core.search.PaymentNotice-reporter,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "PaymentNotice-reporter",
         :fhir/url "http://hl7.org/fhir/SearchParameter/PaymentNotice-reporter",
         :fhir/type "reference",
         :name "reporter",
         :expr {:PaymentNotice {:knife [["reporter"]],
                                :jsonpath ["$.\"reporter\"[*]"],
                                :data-types #{{:type "Reference",
                                               :polymorphic? false}},
                                :template :reference}}}}
