{ns hl7-fhir-r5-core.search.PaymentReconciliation-allocation-encounter,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "PaymentReconciliation-allocation-encounter",
         :fhir/url "http://hl7.org/fhir/SearchParameter/PaymentReconciliation-allocation-encounter",
         :fhir/type "reference",
         :name "allocation-encounter",
         :expr {:PaymentReconciliation {:knife [["allocation"
                                                 "encounter"]],
                                        :jsonpath ["$.\"allocation\".\"encounter\"[*]"],
                                        :data-types #{{:type "Reference",
                                                       :polymorphic? false}},
                                        :template :reference}}}}
