{ns hl7-fhir-r5-core.search.Person-deceased,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Person-deceased",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Person-deceased",
         :fhir/type "token",
         :name "deceased",
         :expr {:Person {:knife [["deceased"]],
                         :jsonpath ["$.\"deceased\"[*]"],
                         :data-types #{{:type "dateTime",
                                        :polymorphic? true}
                                       {:type "boolean",
                                        :polymorphic? true}},
                         :template :token}}}}
