{ns hl7-fhir-r5-core.search.Provenance-based-on,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Provenance-based-on",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Provenance-based-on",
         :fhir/type "reference",
         :name "based-on",
         :expr {:Provenance {:knife [["basedOn"]],
                             :jsonpath ["$.\"basedOn\"[*]"],
                             :data-types #{{:type "Reference",
                                            :polymorphic? false}},
                             :template :reference}}}}
