{ns hl7-fhir-r5-core.search.RequestOrchestration-participant,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "RequestOrchestration-participant",
         :fhir/url "http://hl7.org/fhir/SearchParameter/RequestOrchestration-participant",
         :fhir/type "reference",
         :name "participant",
         :expr {:RequestOrchestration {:knife [["action"
                                                "participant"
                                                "actor"
                                                "Reference"]
                                               ["action"
                                                "participant"
                                                "actor"
                                                "canonical"]],
                                       :jsonpath ["$.\"action\".\"participant\".\"actor\".\"Reference\"[*]"
                                                  "$.\"action\".\"participant\".\"actor\".\"canonical\"[*]"],
                                       :data-types #{{:type "canonical",
                                                      :polymorphic? false}
                                                     {:type "Reference",
                                                      :polymorphic? false}},
                                       :template :reference}}}}
