{ns hl7-fhir-r5-core.search.RequestOrchestration-subject,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "RequestOrchestration-subject",
         :fhir/url "http://hl7.org/fhir/SearchParameter/RequestOrchestration-subject",
         :fhir/type "reference",
         :name "subject",
         :expr {:RequestOrchestration {:knife [["subject"]],
                                       :jsonpath ["$.\"subject\"[*]"],
                                       :data-types #{{:type "Reference",
                                                      :polymorphic? false}},
                                       :template :reference}}}}
