{ns hl7-fhir-r5-core.search.RequestOrchestration-intent,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "RequestOrchestration-intent",
         :fhir/url "http://hl7.org/fhir/SearchParameter/RequestOrchestration-intent",
         :fhir/type "token",
         :name "intent",
         :expr {:RequestOrchestration {:knife [["intent"]],
                                       :jsonpath ["$.\"intent\"[*]"],
                                       :data-types #{{:type "code",
                                                      :polymorphic? false}},
                                       :template :token}}}}
