{ns hl7-fhir-r5-core.search.Resource-in,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Resource-in",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Resource-in",
         :fhir/type "reference",
         :name "_in",
         :expr {:Resource {:knife [["id"]],
                           :jsonpath ["$.\"id\"[*]"],
                           :data-types #{{:type "id",
                                          :polymorphic? false}},
                           :template :reference}}}}
