{ns hl7-fhir-r5-core.search.Resource-profile,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Resource-profile",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Resource-profile",
         :fhir/type "reference",
         :name "_profile",
         :expr {:Resource {:knife [["meta" "profile"]],
                           :jsonpath ["$.\"meta\".\"profile\"[*]"],
                           :data-types #{},
                           :template :reference}}}}
