{ns hl7-fhir-r5-core.search.Schedule-service-type-reference,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Schedule-service-type-reference",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Schedule-service-type-reference",
         :fhir/type "reference",
         :name "service-type-reference",
         :expr {:Schedule {:knife [["serviceType" "reference"]],
                           :jsonpath ["$.\"serviceType\".\"reference\"[*]"],
                           :data-types #{},
                           :template :reference}}}}
