{ns hl7-fhir-r5-core.search.Subscription-identifier,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Subscription-identifier",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Subscription-identifier",
         :fhir/type "token",
         :name "identifier",
         :expr {:Subscription {:knife [["identifier"]],
                               :jsonpath ["$.\"identifier\"[*]"],
                               :data-types #{{:type "Identifier",
                                              :polymorphic? false}},
                               :template :token}}}}
