{ns hl7-fhir-r5-core.search.Subscription-content-level,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Subscription-content-level",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Subscription-content-level",
         :fhir/type "token",
         :name "content-level",
         :expr {:Subscription {:knife [["content"]],
                               :jsonpath ["$.\"content\"[*]"],
                               :data-types #{{:type "code",
                                              :polymorphic? false}},
                               :template :token}}}}
