{ns hl7-fhir-r5-core.search.Substance-substance-reference,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Substance-substance-reference",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Substance-substance-reference",
         :fhir/type "reference",
         :name "substance-reference",
         :expr {:Substance {:knife [["ingredient"
                                     "substance"
                                     "ofType(Reference"]],
                            :jsonpath ["$.\"ingredient\".\"substance\".\"ofType(Reference\"[*]"],
                            :data-types #{},
                            :template :reference}}}}
