{ns hl7-fhir-r5-core.search.TestReport-status,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "TestReport-status",
         :fhir/url "http://hl7.org/fhir/SearchParameter/TestReport-status",
         :fhir/type "token",
         :name "status",
         :expr {:TestReport {:knife [["status"]],
                             :jsonpath ["$.\"status\"[*]"],
                             :data-types #{{:type "code",
                                            :polymorphic? false}},
                             :template :token}}}}
